/* Fonts */
@font-face {
    font-family: 'pacificoregular';
    src: url('fonts/pacifico/pacifico-webfont.eot');
    src: url('fonts/pacifico/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pacifico/pacifico-webfont.woff') format('woff'),
         url('fonts/pacifico/pacifico-webfont.ttf') format('truetype'),
         url('fonts/pacifico/pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans/opensans-bold-webfont.eot');
    src: url('fonts/opensans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-bold-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-bold-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('fonts/opensans/opensans-bolditalic-webfont.eot');
    src: url('fonts/opensans/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-bolditalic-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
    src: url('fonts/opensans/opensans-italic-webfont.eot');
    src: url('fonts/opensans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-italic-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-italic-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans/opensans-light-webfont.eot');
    src: url('fonts/opensans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-light-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-light-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('fonts/opensans/opensans-lightitalic-webfont.eot');
    src: url('fonts/opensans/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-lightitalic-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans/opensans-regular-webfont.eot');
    src: url('fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Global Styles */

*{
  outline: 0!important;
}

html, body {
  height:100%;
  font-family: 'open_sansregular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  padding-top: 50px;
  color: #666;
}

a {
  color: #16A085;
}

a:hover, a:focus {
  color: #1ABC9C;
  text-decoration: none;
}

.placeholder {
  color: #aaa;
}

.container-int{
  margin-bottom: 50px;
}

#topcontrol{
  background-color: #000;
  padding: 5px 10px;
  font-size: 28px;
  line-height: 20px;
  color: #9B9B9B;
}

h1, h2, h3, .h1, .h2, .h3 {
  font-family: 'open_sanslight';
}

h4, h5, h6, .h4, .h5, .h6{
  font-family: 'open_sansregular';
}

h2.section-title{
  margin: 0px 0 30px 0;
  font-size: 25px;
}

h3.section-title{
  margin: 0px 0 20px 0;
  font-size: 20px;
}

h1.post-title, h2.post-title{
  font-family: 'open_sansbold';
  font-size: 24px;
  margin-top: 0;
}

p {
  margin: 0 0 25px 0;
  line-height: 23px;
}

blockquote {
  padding: 15px 20px;
  border-left: 5px solid #16A085;
  background: #FAFAFA;
}

blockquote p {
  font-size: 15px;
  line-height: 24px;
}

.navbar{
  margin: 0;
  border: none;
  border-bottom: 2px solid #16A085;
  border-radius: 0;
}

.navbar-inverse {
  background-color: #1ABC9C;
  border-color: #16A085;
}

.navbar-inverse .navbar-brand{
  font-size: 30px;
  line-height: 40px;
  color: #FFF;
  padding: 0 15px;
  margin: 8px 0 0px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brand {
  background: url('/assets/img/logo.png') no-repeat 25px 10px;

}
.logo {
  color: #fff;
  font-size: 1.7em;
  padding: 13px 0 0 70px;
  display: inline-block;
}
.logo span {
  font-weight: 700;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  padding: 18px 15px;
  font-family: 'open_sansregular';
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #16A085;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #16A085;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #16A085;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #16A085;
}

.navbar-inverse .navbar-toggle {
  border-color: #16A085;
  outline: none;
}

.dropdown-menu{
  background-color: #16A085;
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.dropdown-menu > li > a{
  color: #fff;
}

.link-portfolio{
  overflow: hidden;
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.link-portfolio img{
  display: block;
  position: relative;
}

.link-portfolio .overlay-portfolio{
  background: rgba(0, 0, 0, 0.71);
  padding: 25px;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #E9E9E9;
  opacity: 0;
  filter: alpha(opacity=0);
}

.link-portfolio .overlay-portfolio h3{
  font-size: 14px;
  font-family: 'open_sansbold';
  margin: 0 0 20px 0;
}

.social-networks li{
  padding: 0;
}

.social-networks li a{
  width: 30px;
  height: 31px;
  display: inline-block;
  overflow: hidden;
}

.social-networks div.icon-social{
  width: 30px;
  text-align: center;
  color: #FFF;
  padding: 8px 0;
  font-size: 14px;
  line-height: 15px;
}

.social-networks div.icon-social.icon-social-facebook.normal{
  background: #3B5998;
}

.social-networks div.icon-social.icon-social-twitter.normal{
  background: #00CEFD;
}

.social-networks div.icon-social.icon-social-google-plus.normal{
  background: #D64136;
}

.social-networks div.icon-social.icon-social-pinterest.normal{
  background: #C32021;
}

.social-networks div.icon-social.icon-social-linkedin.normal{
  background: #0077B5;
}

.social-networks div.icon-social.icon-social-youtube.normal{
  background: #CF3427;
}

.social-networks div.icon-social.hover{
  background: #2c3e50;
}

.latest-tweets{
  margin: 0;
  padding: 0;
  list-style: none;
}

.latest-tweets li{
  margin-bottom: 15px;
}

.latest-tweets i.fa.fa-twitter{
  color: #00CEFD;
  margin: 0 5px 0 0;
}

address i.fa{
  margin: 0 5px 0 0;
}

.clients img{
  padding: 10px 0;
}

p.legal{
  text-align: right;
}

.breadcrumb{
  background: none;
  padding: 0;
}

.breadcrumb > li + li:before {
  content: "\f105";
  font-family: FontAwesome;
}

.panel-default {
  border-color: #EBEBEB;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.panel-group .panel {
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.panel-title {
  font-size: 14px;
}

.panel-default > .panel-heading {
  color: #666;
  background-color: #F8FAFA;
}

.well{
  padding: 20px;
  background: #FAFAFA;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.well.well-lg{
  padding: 24px;
}

.well.well-sm{
  padding: 9px;
}

div.list-posts{
  padding: 0;
}

div.list-posts ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
}

div.list-posts ul li{
  margin: 0;
}

div.list-posts ul li a{
  color: #95A5A6;
  padding: 15px;
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

div.list-posts ul li a:hover{
  background: #BDC3C7;
  color: white;
}

.nav-pills > li > a {
  border-radius: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #169D83;
}

.post{
  border-bottom: 1px solid #EEE;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.img-post{
  margin: 0 0 25px 0;
  display: block;
}

.img-post img{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.post-meta .fa{
  margin: 0 5px 0 15px;
  color: #16A085;
}

.post-meta .fa.first{
  margin: 0 5px 0 0;
}

/* comments */
.comment-author-icon{
  background: #ECF0F1;
  padding: 18px 20px;
  border-radius: 50px;
  margin: 10px 0 0 0;
  font-size: 20px;
  line-height: 20px;
}

.comment-content{
  width: 85%;
  margin: 0 0 0 3%;
}

/* pagination */

.pagination{
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.pagination > li > a, .pagination > li > span {
  border: none;
  margin: 0 1px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #16A085;
}

/* tags */

.tags a{
  background: #1ABC9C;
  padding: 6px 15px;
  margin: 0 0 10px 0;
  display: inline-block;
  color: #FAFAFA;
  font-size: 12px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.tags a:hover{
  background: #16A085;
}

/* Tabs */
.nav-tabs{
  border-bottom: none;
}

.nav-tabs > li > a {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  cursor: default;
  background-color: #FAFAFA;
  border: none;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #ECF0F1;
}

.nav-stacked > li + li{
  margin-top: 0;
}

.nav-pills li a{
  padding: 7px;
  border-bottom: 1px solid #EDEDED;
}

.tab-pane {
  margin-top: 1px;
  background: #FAFAFA;
  padding: 15px;
}

.label-default {
  background-color: #1ABC9C;
}

/* Buttons */
.btn{
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  outline: none;
}

.btn-lg {
  padding: 10px 35px;
}

.btn-primary {
  color: #FFF;
  background-color: #1ABC9C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
  background-color: #16A085;
}

.btn-info{
  background-color: #2C3E50;
}

.btn-info:hover{
  background-color: #95A5A6;
}

.input-group-btn:last-child > .btn {
  padding: 7px 12px;
}

/* Page Sections */
.section,
.section-colored {
  padding: 50px 0;
}

.section-colored {
  background-color: #ECF0F1;
}

.section-colored.home{
  background: #423F5C url(../img/section-bg.png) 50% 0 no-repeat;
}

.section-colored.home h2{
  margin: 0;
  color: #fff;
}

.section-header {
  background-color: #ECF0F1;
  padding: 0;
  margin-bottom: 20px;
}

.sidebar h4{
  margin: 0 0 25px 0;
}

.sidebar .tab-content{
  margin-bottom: 20px;
}

.form-control{
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  resize: none;
  background: #FCFCFC;
  border-color: #E4E4E2;
}

.form-control:focus{
  border-color: #1ABC9C;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/* Half Page Height Carousel Customization */
.carousel {
  height: 530px;
  background: #34495e;
}

.carousel-control.left, .carousel-control.right{
  background: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  filter: none;
}

.carousel-control.left i{
  left: 0;
}

.carousel-control.right i{
  right: 0;
}

.carousel-control.left i, .carousel-control.right i{
  position: absolute;
  top: 245px;
  font-size: 25px;
  background: black;
  line-height: 40px;
  padding: 0 15px;
}

.carousel-indicators li, .carousel-indicators .active {
  width: 8px;
  height: 8px;
  margin: 1px;
}

.carousel-caption {
  top: 160px;
}

.carousel-caption h2{
  font-family: 'open_sanslight';
  font-size: 43px;
  line-height: 50px;
  margin: 10px 0;
}

.carousel-caption .button{
  border: 2px solid white;
  -webkit-border: 2px solid white;
  -moz-border: 2px solid white;
  padding: 10px 40px;
  border-radius: 2px;
  color: white;
  font-family: 'open_sansbold';
  margin: 30px 0 0 0;
  display: inline-block;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.carousel-caption .button:hover{
  text-decoration: none;
  background: rgba(255, 255, 255, 0.13);
}

.item,
.active,
.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.block-icon{
  width: 70px;
  height: 70px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  text-align: center;
  font-size: 30px;
  background: #1ABC9C;
  color: #fff;
  line-height: 70px;
  margin: 0 auto;
}

.block-body h2{
  font-family: 'open_sanslight';
  font-size: 19px;
  text-align: center;
}

.block-body p{
  text-align: center;
  font-size: 13px;
  color: #7F8C8D;
}

.line-subtitle{
  height: 1px;
  width: 70px;
  margin: 17px auto;
  background: #DBDBDB;
}

/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

/* Service Page Styles */
.service-icon {
  font-size: 50px;
}

/* 404 Page Styles */
h3.error-404{
  font-size: 250px;
  font-family: 'open_sansbold';
  color: #159C81;
}

img.monster{
  max-width: 125px;
}

/* Pricing Page Styles */
.price {
  font-size: 45px;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}

.pricing-table .panel-default > .panel-heading{
  background-color: #16A085;
  color: #FFF;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
}

.pricing-table .panel-default > .panel-body{
  background-color: #1ABC9C;
  color: #FFF;
}

.list-group-item {
  background-color: #FAFAFA;
  border: 1px solid #ECEBEB;
}

/* Footer Styles */
footer {
  background: #34495E;
  padding: 50px 0;
  color: #BDC3C7;
  font-size: 12px;
  line-height: 18px;
}

.footer-brand{
  font-family: 'pacificoregular';
  display: inline-block;
  font-size: 30px;
  line-height: 40px;
  color: #FFF;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer-brand:hover{
  color: #fff;
  text-decoration: none;
}

footer p{
  color: #BDC3C7;
  font-size: 12px;
  line-height: 18px;
}

footer h3{
  font-family: 'open_sansbold';
  margin: 20px 0 15px 0;
  color: #FFF;
  font-size: 14px;
}

footer .form-control{
  background: #2C3E50;
  border: none;
  color: #ecf0f1;
  font-size: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

footer .form-control:focus{
  background: #ECF0F1;
  color: #7F8C8D;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

footer .input-group-btn .btn{
  height: 34px;
}

.footer-after{
  background: #2c3e50;
  padding: 20px 0;
  font-size: 12px;
}

.footer-after p{
  color: #fff;
  margin: 0;
}

.footer-after a{
  color: #FFF;
}

.footer-after a:hover{
  color: #7f8c8d;
  text-decoration: none;
}

@media (min-width: 1200px){
  .container {
    width: 970px;
  }
}

/* Small devices Tablets  */
@media (max-width: 991px) {
  p.legal{
    text-align: left;
  }
}


/* Extra small devices Phones */
@media (max-width: 767px) {

  .carousel {
    height: 380px;
  }

  .carousel-caption {
    top: 4%;
  }

  .carousel-control.left i, .carousel-control.right i {
    top: 170px;
  }

  .section-colored.home h2 {
    margin-bottom: 30px;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #FFF;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #149178;
  }

  h3.error-404{
    font-size: 150px;
  }

  .sidebar{
    margin-top: 30px;
  }

  .comment-content {
    width: 65%;
  }

}

.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: -30px;
}
.affix{top:80px; }

.affix-bottom{position:absolute; }
/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 15px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 14px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    color: #16A085;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #16A085;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;
}
/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+csharp */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}
