<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RankaaS - 인디게임 개발자분을 위한 게임 백엔드 서비스</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Fonts from Font Awsome -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/plugins/icheck/css/_all.css">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Feature detection -->
    <script src="/assets/js/modernizr-2.6.2.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="animated fadeIn">
    <section id="login-container">

        <div class="row">
            <div class="col-md-3" id="login-wrapper">
                <div class="panel panel-primary animated flipInY">
                    <div class="panel-heading">
                          <h3 class="panel-title">
                           Sign Up
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p >Already a member? <a href="/login"><strong>Sign In</strong></a></p>
                        <form accept-charset="UTF-8" action="/users" id="create_user" method="post">
                            <div class="form-group">
                                <label >ID</label>
                                <input type="text" name="user[username]" class="form-control" id="username" placeholder="Enter your ID">
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="user[name]" class="form-control" id="name" placeholder="Enter your name">
                            </div>

                             <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="user[password]" id="user_password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                              <div class="form-group">
                                <label>Retype Password</label>
                                <input type="password" name="user[retype_password]" id="retype_password" class="form-control" id="exampleInputPassword1" placeholder="Retype your password">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="user[email]" class="form-control" placeholder="Enter your email">
                            </div>

                            <div class="form-group">
                               <label>Phone Number</label>
                               <input type="text" name="user[contact]" class="form-control" id="exampleInputPassword1" placeholder="Enter your Phone Number (only number)">
                            </div>
                            <div class="form-group">
                                <input name="user[agree]" type="checkbox">
                                <label><a href="/agreement">약관</a>에 동의합니다.</label>
                            </div>
                            <input type="button" class="btn btn-primary btn-block" id="submit_button" value="Sign Up">

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--Global JS-->
    <script src="/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/waypoints/waypoints.min.js"></script>
    <script src="/assets/plugins/nanoScroller/jquery.nanoscroller.min.js"></script>
    <script src="/assets/js/application.js"></script>
    <script src="/assets/plugins/validation/js/jquery.validate.min.js"></script>
    <script src="/assets/plugins/icheck/js/icheck.min.js"></script>
    <script>
    jQuery.validator.addMethod("noSpace", function(value, element) {
     return value.indexOf(" ") < 0 && value != "";
   }, "Space are not allowed");


        $(document).ready(function() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_flat-grey',
                radioClass: 'iradio_flat-grey'
            });

            $("#submit_button").click(function(){
              if ($("#create_user").valid())
              $("#create_user").submit();
            });

            $("#create_user").validate({
              rules : {
                "user[email]" : {
                  required : true,
                  email : true
                },
                "user[name]" : {
                  required : true,
                },
              "user[password]" : {
                required : true,
                minlength : 6,
              },
              "user[retype_password]" : {
                required : true,
                minlength : 6,
                equalTo : "#user_password"
              },
              "user[contact]" : {
                required : true,
                number: true,
                minlength : 11,
                maxlength : 11,
              },
              "user[username]" : {
                required : true,
                noSpace : true
              }

            },
            highlight: function(element) {
                        $(element).parent().find("label").removeClass("hide").closest('.form-group').removeClass('has-success').addClass('has-error has-feedback');
               $(element).parent().find("span").remove();
                 },
              success: function(element) {
                element.addClass('valid hide').closest('.form-group').removeClass('has-error').addClass('has-success has-feedback');
                 element.parent().append('<span class="glyphicon glyphicon-ok form-control-feedback"></span>')
                   },


            })

        });
    </script>

</body>

</html>

<!--
  <div id="page-wrapper-non-nav" >
    <div id="page-inner-short">
         <div class="col-md-8 col-md-offset-2">
          <h1>환영합니다</h1>
	<% if flash[:message] %>
<br> <p class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><%= flash[:message]%></p> <% end %>
          <hr/>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Join</h3>
            </div>
            <div class="panel-body">
              <form accept-charset="UTF-8" action="/users" class="create_user" id="create_user" method="post">
              <br>
              <div class="form-group col-md-12">
                <label class="col-sm-2 control-label">ID</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="user[username]" placeholder="아이디는 4자 이상, 공백을 포함할 수 없습니다.">
                </div>
              </div>
                <div class="form-group col-md-12">
                  <label class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="user[password]" placeholder="패스워드는 6자 이상입니다.">
                  </div>
                </div>
                 <div class="form-group col-md-12">
                  <label class="col-sm-2 control-label">이름</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="user[name]" placeholder="2글자 이상 입력해주세요.">
                  </div>
                </div>
                <div class="form-group col-md-12">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" name="user[email]" placeholder="Email">
                </div>
              </div>

                <div class="form-group col-md-12">
                  <label class="col-sm-2 control-label">연락처</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="user[contact]" placeholder="연락처 -(하이픈)은 빼고 입력해주세요.">
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <div class="col-sm-10 col-md-offset-2">
                      <div class="checkbox">
        <label>
          <input name="user[agree]" type="checkbox"> <b><a>약관</a>에 동의합니다.</b></input>
        </label>
      </div>
    </div>
</div>

                <div class="form-group col-md-12">
                  <div class="col-sm-10 col-md-offset-2">
                    <div class="pull-right">
                    <input class="btn btn-success btn-lg" type="submit" value="회원가입">
                   <input class="btn btn-danger btn-lg" type="submit" value="취소">
                 </div>
               </div>
</div>
</form>
              </div>
          </div>
        </div>

    </div>

  </div>

</div>-->
