<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RankaaS - 인디게임 개발자분을 위한 게임 백엔드 서비스</title>

    <!-- font-awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]>
    <link href="css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="css/ie8.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 7]>
    <link href="css/ie7.css" rel="stylesheet">
    <![endif]-->

    <!-- JavaScript -->
    <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <!--[if lte IE 7]>
    <script type="text/javascript" src="js/boxsizing/jquery.boxsizing.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/banzhow.js"></script>
  </head>


  <body>


    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

<div class="brand">
  <a href="/" class="logo"><span>RankaaS</span>.io</a>
</div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/price">Price</a></li>
            <li><a href="/dev">Development</a></li>
            <% if @isLogin %>
            <li><a href="/login">My Apps</a></li>
            <% else %>
            <li><a href="/login">Login</a></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>


<div class="section-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h1 class="page-header">Terms</small></h1>
      </div>

    </div>
  </div> <!-- /.container -->
</div> <!-- /.section-colored -->

<div class="container container-int">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Terms</li>
</ol>

<div class="row">
  <div class="col-lg-12">
    <blockquote>
  <h3> 제 1조 목적 </h3>
  <p>본 약관은 알알게임즈(이하 "회사"라고 합니다)가 rankaas.io 웹 사이트(https://rankaas.io, 이하 “웹사이트”라 합니다.) 를 통해 제공하는 백엔드 서비스(backend service, 이하 "서비스"라고 합니다)와 관련하여 회사와 회원의 권리•의무 및 책임사항을 규정함을 목적으로 합니다. </p>

  <h3> 제 2조 약관의 명시, 효력 및 변경 </h3>
  <p>① 회사는 본 약관의 내용을 회원이 쉽게 볼 수 있도록 서비스 웹 사이트의 초기 화면 하단에 링크로 게시합니다.<br>
② 회사는 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 약관의 규제에 관한 법률, 소비자기본법 등 관련법을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다. 개정 약관은 회사가 약관을 개정할 경우에는 기존약관과 개정약관 및 개정약관의 적용일자와 개정사유를 명시하여 현행약관과 함께 그 적용일자 일십오(15)일 전부터 적용일 이후 상당한 기간 동안 공지만을 하고, 개정 내용이 회원에게 불리한 경우에는 그 적용일자 삼십(30)일 전부터 적용일 이후 상당한 기간 동안 각각 이를 서비스 웹 사이트에 공지하고 회원이 등록한 이메일 주소로 약관 개정 사실을 발송하여 고지합니다.</br>
③ 회사가 전항에 따라 회원에게 통지하면서 공지 또는 공지•고지일로부터 개정약관 시행일 7일 후까지 거부의사를 표시하지 아니하면 승인한 것으로 본다는 뜻을 명확하게 고지하였음에도 불구하고 거부의 의사표시가 없는 경우에는 변경된 약관을 승인한 것으로 봅니다. 회원이 개정약관에 동의하지 않을 경우 회원은 서비스 이용을 해지할 수 있습니다.<p>


  <h3> 제 3조 용어정의 </h3>
  <p>이 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br>
① 백엔드는 모바일 앱 ( 또는 웹 )에게 데이터 또는 처리를 지원하는 서버 측 일체를 말합니다.<br>
② 백엔드 앱은 회원이 웹 사이트를 통해 생성한 자신만의 백엔드를 말합니다.<br>
③ API(Application Programming Interface)는 회사가 제공하는 모바일 앱용 SDK( Sofeware Development Kit )를 통해 제공되는 API와 REST API 등 응용 프로그램 작성을 위해 사용되는 인터페이스를 말합니다.<br>
④ 모바일 앱 ( 또는 웹 )은 회사가 제공하는 API를 이용하여 회원이 만든 응용 프로그램을 말합니다.<br>
</p>

  <h3> 제 4조 이용계약의 성립, 이용 신청 및 승낙 </h3>
  <p>
    ① 이용계약은 회원이 되고자 하는 자가 약관의 내용에 대하여 동의를 한 다음 회원가입신청을 하고 회사에 이러한 신청에 대하여 승낙함으로써 체결됩니다.<br>
② 이용 계약은 회원의 이용 신청에 대하여 회사가 승낙함으로써 성립됩니다.<br>
③ 회사는 회원에 대해 회사 정책에 따라 회원 유형을 구분하여 서비스 이용에 제한을 둘 수 있습니다.<br>
④ 회사는 회원이 등록한 백엔드앱을 별도의 동의 절차 없이 웹사이트에 백엔드앱의 이름, 아이콘, 설명을 레퍼런스로서 게시할 수 있습니다.<br>
⑤ 유료상품의 경우, 회원은 웹사이트를 통해 별도의 상품이용신청을 하고, 회사가 이러한 신청에 대하여 승낙함으로써 체결됩니다.<br>
- 회원 가입은 서비스 웹 사이트를 통해 안내된 절차에 의해 이루어지며, 회원은 회원 가입과 동시에 서비스 이용이 승낙됩니다.<br>
- 회원은 서비스 웹 사이트를 통해 자신의 모바일(또는 웹) App을 위한 백엔드앱을 생성하고, 웹 사이트에서 백엔드앱의 사용을 위한 고유 API Key(이하 "API키"라고 합니다)를 발급 받아야 합니다.<br>
- 회원은 회사가 제공하는 API를 이용하여 모바일(또는 웹) App을 제작할 수 있습니다. 회원은 모바일(또는 웹) App을 일반 공중에 서비스 하거나 독립된 프로그램으로 배포할 수 있습니다.<br>
- 모바일(또는 웹) App이 백엔드앱을 이용할 시, 회원은 백엔드앱에 API키를 전송하도록 모바일(또는 웹) App을 제작해야 합니다.<br>
- 회원은 모바일(또는 웹) App을 통해 백엔드앱이 제공하는 기능을 이용할 수 있습니다.<br>
- 회원은 본인의 API키를 회원 본인의 모바일(또는 웹) App에 한하여 이용할 수 있습니다.<br>
- 회원은 웹 사이트를 통해 자신의 백엔드앱에 새로운 정보를 저장하거나 저장된 정보를 조회/수정/삭제하는 등의 관리를 할 수 있습니다.<br>
- 회원은 웹 사이트를 통해 자신의 백엔드앱에 대해 기능설정, 권한설정 등의 관리를 할 수 있습니다.<br>
- 회원은 웹 사이트를 통해 약관 동의를 철회 및 회원탈퇴를 할 수 있습니다.<br>
- 회원은 웹 사이트에서 정한 요금제에 따라 서비스의 기능 또는 이용 가능 횟수 등을 선택할 수 있습니다.<br>
  </p>

  <h3>제 5조 서비스의 제한 등</h3>
  <p>① 회사는 회원이 서비스를 이용함에 있어 법령 또는 본 약관을 위반한 경우, 서비스에 대한 악의적인 해킹, 역공학, 비정상적인 서비스 이용 등의 시도를 하는 경우 즉시 회원의 서비스 이용을 정지시킬 수 있습니다.<br>
② 회사는 다음 각 호에 해당하는 경우 회원의 서비스 이용을 제한하거나 정지시킬 수 있습니다.<br>
- 회원가입 시 허위내용을 등록한 경우<br>
- 회사의 이용요금 등 서비스 이용에 관련하여 회원이 부담하는 채무를 기일에 이행하지 않는 경우<br>
- 타회원의 서비스 이용을 방해하는 경우<br>
- 회원이 제작한 모바일(또는 웹) App이 법령 또는 이 약관이 금지하거나 선량한 풍속에 반하는 경우<br>
- 회원이 자신이 생성한 백엔드앱을 회사의 허가 없이 타회원 또는 회원이 아닌 자에게 공개하는 경우<br>
- 회원이 제작한 모바일(또는 웹) App이 백엔드앱에서 인출한 데이터를 회원 본인의 소유가 아닌 제3의 App에 전송하는 목적으로만 활용될 경우<br>
③ 회사는 다음 각 호에 해당하는 경우 회사는 사전 공지 후 서비스를 일시 중단할 수 있습니다. 제3호의 경우에는 사후 공지로 대체합니다.<br>
- 시스템 점검, 증설 및 교체<br>
- 서비스를 제공함에 있어 기술적 결함이 발견되는 경우<br>
- 시스템 장애, 천재지변 또는 이에 준하는 불가항력으로 인하여 통제불능 상황이 발생한 경우<br></p>

  <h3>제 6조 서비스의 내용 변경 통지 등</h3>
  <p>① 회사가 서비스 내용을 변경하거나 종료하는 경우 회사는 회원의 등록된 이메일 주소로 이메일을 발송하여 서비스 내용의 변경 사항 또는 서비스 종료를 통지할 수 있습니다.<br>
② 전항의 경우 불특정 다수인을 상대로 통지를 함에 있어서는 웹 사이트에 해당 사항을 게시하여 회원들에게 통지할 수 있습니다.<br></p>

  <h3>제 7조 지적재산권의 귀속</h3>
  <p>① 서비스 및 서비스에 의해 제공되는 정보, 샘플 프로그램 등에 대한 상표권, 저작권 등을 포함한 일체의 권리는 회사 또는 개별 권리자에 귀속되며, 회원이 제작한 프로그램 등에 대한 저작권 등 일체의 권리는 별도의 의사표시가 없는 한 해당 회원에게 귀속됩니다.<br>
② 회원이 서비스에 저장한 데이터의 저작권은 회원에게 귀속됩니다.<br></p>

  <h3>제 8조 청약철회, 계약해지 등</h3>
  <p>① 회사가 제공하는 서비스는 "전자상거래 등에서의 소비자보호에 관한 법률" 제17조에서 규정하는 청약철회가 불가능한 상품입니다.<br>
② 회원은 웹 사이트의 회원탈퇴 기능을 통해 계약을 해지 할 수 있습니다.<br>
③ 회원이 이용요금을 선불로 납입한 상태에서 계약을 해지 할 경우, 회사는 미사용일자에 해당하는 이용금액을 일할 계산하여 회원에게 반환합니다.<br></p>

  <h3>제 9조 회사의 의무</h3>
  <p>회사는 회사의 서비스 제공 및 보안과 관련된 설비를 지속적이고 안정적인 서비스 제공에 적합하도록 유지, 점검 또는 복구 등의 조치를 성실히 이행합니다.<br></p>

  <h3>제 10조 회원의 의무</h3>
  <p>① 회원은 서비스를 이용함에 있어 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 관계 법령을 준수하여야 합니다.<br>
② 회원은 약관에 동의한 사항이 변경된 경우 고객센터를 통해 회사에 이를 즉시 통보해야 합니다. 통보하지 않아 발생하는 회원의 손해 또는 불이익에 대해서는 회사가 책임을 부담하지 않습니다.<br>
③ 회원은 아래 각 호에 해당하는 행위를 하여서는 아니 됩니다.<br>
- 서비스 가입을 위한 정보 등을 허위로 기재하는 행위<br>
- 회원이 자신이 생성한 백엔드앱을 회사의 허가 없이 타회원 또는 회원이 아닌 자에게 공개하는 행위<br>
- 회사 혹은 제 3자의 명예를 훼손하거나 지적재산권을 침해하는 행위<br>
- 회사의 임직원이나 관계자를 사칭하거나 회사의 브랜드나 서비스를 모방, 도용하는 행위<br>
- 회사 회원의 아이디, API키, 비밀번호 등의 개인정보를 해킹, 도용, 거래하는 행위<br>
- 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 관련 법령에 의하여 그 전송 또는 게시가 금지되는 정보를 전송하거나 게시하는 행위<br>
- 법령 또는 이 약관이 금지하거나 선량한 풍속에 반하는 행위<br>
④ 회원은 서비스 받을 권리를 양도 내지 증여하거나 질권의 목적으로 이용할 수 없습니다.<br>
⑤ 회원의 행위에 대한 모든 책임은 회원에게 부담됩니다.<br></p>

  <h3>제 11조 면책</h3>
  <p>① 회사는 회원이 약관 및 서비스 이용 방법 및 정한 이용 기준 등을 준수하지 않아 발생한 회원의 손해에 대하여 책임을 지지 않습니다.<br>
② 회사에 귀책 사유가 있지 않는 한, 회원의 모바일(또는 웹) App 등과 관련하여 저작권 또는 개인정보의 침해나 기타 관련 법률 위반을 이유로 제3자(정부 기관 포함)로부터 이의(소)가 제기되는 경우 회원 자신의 비용 및 책임으로 문제를 직접 해결하여, 회사를 면책•방어하고 발생한 모든 손해를 회원이 직접 배상하여야 합니다.<br></p>

  <h3>제 12조 손해배상</h3>
  <p>① 회사는 이용요금이 무료인 서비스의 이용과 관련하여 회원에게 발생한 손해에 대해 책임 지지 않습니다.<br>
② 회사는 이용요금이 유료인 서비스의 이용과 관련하여, 회사의 귀책 사유로 회원이 서비스를 이용하지 못하였을 경우 손해를 배상합니다. 회원이 서비스를 이용하지 못하고 있음을 서면 또는 유선으로 통보하여 회사가 확인한 때 또는 회사가 그 사실을 알았거나 알 수 있었을 때로부터 계산하여 계속 1시간 이상의 서비스 제공 중지시간에 대하여 최근 3개월(3개월 미만인 경우에는 실사용기간 적용)의 1일 평균이용 요금에 서비스 제공 중지시간을 24로 나눈 수를 곱하여 산출한 금액의 3배를 배상합니다. 이 경우 단수가 1/2시간 이상인 경우에는 이를 1시간으로 간주합니다.<br></p>

  <h3>제 13조 이용계약의 해지</h3>
  <p>① 회원이 웹 사이트를 통해 회원탈퇴를 신청할 경우, 서비스 이용을 중단하는 것으로 간주합니다.<br>
② 회원이 서비스 이용을 중단할 경우 해당 회원의 API키는 사용이 불가능하게 됩니다.<br>
③ 회원이 서비스 이용에 관련하여 부담해야 하는 채무를 기일 내에 이행하지 않을 경우 서비스 이용이 중단될 수 있습니다.<br>
④ 회원이 서비스 이용을 중단할 경우 회사는 지체 없이 회원의 개인 정보를 파기합니다. 단, 제14조 4항에 해당하는 내용은 일정기간 후에 파기합니다.<br>
⑤ 회원이 서비스 이용을 중단할 경우 회원이 백엔드앱에 저장한 데이터는 삭제됩니다.<br>
⑥ 회원이 제 10조를 포함하여 본 약관상의 의무를 위반한 경우 회사는 사전통보 없이 일방적으로 본 계약을 해지할 수 있고, 이로 인하여 서비스 운영에 손해가 발생한 경우 이에 대한 민/형사상 책임을 물을 수 있습니다.<br></p>

  <h3>제 14조 개인정보수집 및 이용</h3>
  <p>① 회사는 회원에게 서비스를 제공하기 위해 다음 사항을 회원가입 또는 회원정보수정 시 수집합니다.<br>
- 필수 사항 : 이메일 주소<br>
- 선택 사항 : 이름, 전화번호<br>
② 회사는 회원이 제공한 정보를 서비스 운영을 위한 목적 이외의 용도로 사용하거나 제3자에게 제공하지 않습니다. 단, 다음 각 호의 경우에는 예외로 합니다.<br>
- 법률 또는 법률의 규정에 의하여 불가피한 사유가 있는 경우<br>
- 상품 대금정산을 위하여 필요한 경우<br>
- 도용방지를 위해 본인확인이 필요한 경우<br>
- 통계, 시장조사 등 특정 개인을 식별할 수 없는 형태로 제공하는 경우<br>
- 회원의 사전 동의를 구한 경우<br>
③ 회사는 회원의 개인정보를 보호하기 위해 개인정보취급방침을 수립하고 이를 웹 사이트에 게시합니다.<br>
④ 회사는 고객 지원 및 분쟁 처리를 위해 탈퇴 회원의 정보를 다음과 같이 일정기간 유지합니다.<br>
- 계약 또는 청약철회 등에 관한 기록 : 5년<br>
- 대금결제 및 재화 등의 공급에 관한 기록 : 5년<br>
- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년<br></p>

  <h3>제 15조 분쟁의 해결</h3>
  <p>본 약관은 대한민국 법령에 의하여 규정되고 이행되며, 서비스 이용과 관련하여 회사와 회원간에 발생한 분쟁에 대해서는 민사소송법상의 주소지를 관할하는 법원을 합의관할로 합니다.<br></p>
</blockquote>
</div>

</div>


</div>
<footer>
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-4">
        <a class="footer-brand" href="index.html">RankaaS.io</a>
        <p>인디게임 개발자분들을 위한 게임 백엔드 서비스입니다. 고객님의 말씀은 언제나 귀기울일 수 있는 RankaaS.io가 되겠습니다. 감사합니다.</p>
        <ul class="list-inline list-unstyled social-networks">
          <li>
            <a href="#">
              <div class="icon-social icon-social-facebook normal">
                <i class="fa fa-facebook"></i>
              </div>
              <div class="icon-social hover">
                <i class="fa fa-facebook"></i>
              </div>
            </a>
          </li>

          <li>
            <a href="#">
              <div class="icon-social icon-social-twitter normal">
                <i class="fa fa-twitter"></i>
              </div>
              <div class="icon-social hover">
                <i class="fa fa-twitter"></i>
              </div>
            </a>
          </li>

        </ul>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3>CONTACT</h3>
        <address>
          <i class="fa fa-map-marker"></i> 서울특별시 강남구 테헤란로 아남타워빌딩 7층 소프트웨어 마에스트로 연수센터<br>
          <i class="fa fa-phone"></i> +82 10 2748 2522<br>
          <i class="fa fa-envelope"></i> admin@rankaas.io
        </address>
      </div>

      <div class="col-lg-4 col-md-4">
        <h3>LATEST NEWS</h3>
        <ul class="latest-tweets">
          <li>
            <i class="fa fa-pencil"></i> <%= @news[0] %>
          </li>
          <li>
            <i class="fa fa-pencil"></i> <%= @news[1] %>
          </li>
        </ul>
      </div>

    </div><!-- /.row -->

  </div><!-- /.container -->
</footer>

    <div class="footer-after">
      <div class="container">
        <div class="row">
          <p class="col-md-9">© 2014 RankaaS.io All rights reserved.</p>
<p class="col-md-3 legal"><a href="/agreement" rel="nofollow">이용약관</a> | <a href="/privacy" rel="nofollow">개인정보취급방침</a></p>
        </div><!-- /.row -->
      </div>
    </div>





  </body>
</html>
