<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:image" content="https://rankaas.io/logo_fb2.png"/>
    <title>RankaaS - 인디게임 개발자분을 위한 게임 백엔드 서비스</title>

    <!-- font-awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]>
    <link href="css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="css/ie8.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 7]>
    <link href="css/ie7.css" rel="stylesheet">
    <![endif]-->

    <!-- JavaScript -->
    <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <!--[if lte IE 7]>
    <script type="text/javascript" src="js/boxsizing/jquery.boxsizing.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/banzhow.js"></script>
  </head>


  <body>


    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

<div class="brand">
  <a href="/" class="logo"><span>RankaaS</span>.io</a>
</div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/price">Price</a></li>
            <li class="active"><a href="/dev">Development</a></li>
<% if @isLogin %>
<li><a href="/login">My Apps</a></li>
<% else %>
<li><a href="/login">Login</a></li>
<% end %>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>


<div class="section-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h1 class="page-header">Document <small>개발에 필요한 문서를 이곳에서 확인하세요.</small></h1>
      </div>

    </div>
  </div> <!-- /.container -->
</div> <!-- /.section-colored -->

<div class="container container-int">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Document</li>
</ol>

<div class="row">
<div class="col-xs-9 col-sm-9">

<h2 id="basic_request">Basic Request</h2>
<blockquote>
<p>백엔드 서버에 요청을 할때는 발급된 User Key와 App Key를 인자로 한 HTTP Restful을 기본으로 하며, 그 외에는 제공하는 SDK를 사용합니다.</p>
</blockquote>
<hr>

     <h2 id="restful">Rest API </h2>
  <blockquote>
    <p>Rankaas.io 에서는 어플리케이션과 통신할 수 있는 API를 아래와 같이 제공합니다.</p>
</blockquote>

<div class="panel panel-info">
  <div class="panel-heading">
    API EndPoint
  </div>
  <div class="panel-body">

<pre>GET /{User-ID}/{App-ID} HTTP/1.1
Host: rankaas.io
Authorization: Bearer {Token}</pre>
발급받은 <code>User-ID</code>와 <code>App-ID</code>를 이용하여 HTTP통신을 합니다. <br>HTTP Header에 Authorization을 추가합니다.<br>
  <code>Token</code>에 Session Token 대신 App Secret을 입력하면 요청에 대해 최고 권한을 얻습니다.
</div></div>
    <h3 id="restful-collections">Collections</h3>
  <blockquote>
    <p>데이터를 담을 수 있는 공간으로 기본적으로 <code>Users</code>, <code>Ranks</code>를 제공합니다.
     <br>필요에 따라 DataConsole에서 컬렉션을 추가로 생성하여 사용할 수 있습니다.</p>
   </blockquote>
    <div class="panel panel-info">
      <div class="panel-heading">
        Request
      </div>
      <div class="panel-body">
        <pre>GET /{User-ID}/{App-ID}/{Collection-Name} HTTP/1.1
Host: rankaas.io
Authorization: Bearer {Token}</pre>
발급받은 <code>User-ID</code>와 <code>App-ID</code>와 조회할 <code>Collection-Name</code>를 전달합니다.
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        Response
      </div>
      <div class="panel-body">
<pre>{
  "collection_name" : {Collection-Name},
  "results" : [
    { "id" : {Object-Id},
      {Object-Data}
    }
  ]
}</pre>
조회에 성공했다면 <code>Collection-Name</code>과 Object마다 부여된 고유한 <code>Object-Id</code>와 <code>Object-Data</code>가 JSON형식으로 반환됩니다.
  </div>
</div>
<h4>Collection 내 오브젝트 불러오기</h4>
<blockquote>
<p>컬렉션의 데이터를 찾고 불러올 수 있습니다. 한번에 최대(LIMIT) 20개의 Object를 불러올 수 있습니다.</p>
</blockquote>
<div class="panel panel-info">
  <div class="panel-heading">
    Request
  </div>
  <div class="panel-body">
    <pre>GET /{User-ID}/{App-ID}/{Collection-Name}?offset={Offset}&amp;query={Query} HTTP/1.1
Host: rankaas.io
Authorization: Bearer {Token}</pre>
    <code>Collection-Name</code> : 불러올 오브젝트가 담긴 컬렉션의 이름입니다.<br>
    <code>Offset</code> : 불러올 오브젝트의 시작점(커서)을 명시할 수 있습니다. 자연수 값을 입력합니다.<br>
    <code>Query</code> : { "key" : "value" }에 일치하는(WHERE) 레코드를 찾아서 불러옵니다. JSON형식에 부합해야 합니다. 일치하는 값이 없으면 빈 값을 불러옵니다.
</div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    Response <code>200 OK</code>
  </div>
  <div class="panel-body">
    <pre>{
  "collection_name": {Collection-Name},
  "results": [
    { "id" : {Object-ID},
             {Object-Data}
    },
    {....},
    {....}
  ]
}
</pre>
조회에 성공했다면 <code>Collection-Name</code>과 Object마다 부여된 고유한 <code>Object-Id</code>와 <code>Object-Data</code>가 JSON형식으로 반환됩니다.
</div>
</div>

<h4>Collection의 스키마 정보를 불러오기</h4>
<blockquote>
<p>Collection의 스키마 정보는 Authorization Header에 App Sceret를 전달하여 관리자 퍼미션일때만 출력할 수 있습니다.</p>
</blockquote>
<div class="panel panel-info">
<div class="panel-heading">
Request
</div>
<div class="panel-body">
<pre>GET /{User-ID}/{App-ID}/{Collection-Name}/scheme HTTP/1.1
Host: rankaas.io
Authorization: Bearer {App-Sceret}</pre>
<code>Collection-Name</code>에 스키마 정보를 불러올 Collection의 이름을 입력합니다.
</div>
</div>
<div class="panel panel-info">
<div class="panel-heading">
Response
</div>
<div class="panel-body">
<pre>{
  "collectionName" : {Collection-Name},
  "user_key": {User-Key},
  "app_key": {App-Key},
  "schemes": [
    {
      "name": "schemes1"
    },
    {
      "name": "schemes2"
    },
    {...}
  ]
}
</pre>
</div>
</div>

<h4>Collection내의 특정 ID를 가진 Object 조회</h4>
<blockquote>
<p>Collection내의 특정 <code>Object ID</code>를 가진 레코드를 불러옵니다.
</blockquote>
<div class="panel panel-info">
<div class="panel-heading">
Request
</div>
<div class="panel-body">
<pre>GET /{User-Key}/{App-Key}/{Collection-Name}/{ObjectID} HTTP/1.1
Host: rankaas.io
Authorization: Bearer {Token}</pre>
<p><code>ObjectID</code> : 레코드가 부여받은 "id"입니다.</p>

</div>
</div>
<div class="panel panel-info">
<div class="panel-heading">
Response
</div>
<div class="panel-body">
<p>아래 정보는 기본적으로 제공되는 Users Collection의 한 데이터를 불러온 것입니다.</p>
<pre>{
  "result": {
    "username": "hong",
    "password": "gil-dong",
    "email": "sample@company.com",
    "full_name": "Hong Gil Dong",
    "fb_uid": "100000000",
    "kakao_uid": ""
  }
}</pre>
</div>
</div>
<h4>Collection내에 Object 삽입</h4>
<p>HTTP POST Method로 Object를 Collection에 삽입할 수 있습니다. HTTP Request Body에 삽입할 정보를 입력합니다.</p>
<div class="panel panel-info">
<div class="panel-heading">
Request
</div>
<div class="panel-body">
<pre>POST /{User-Key}/{App-Key}/{Collection-Name} HTTP/1.1
Host: rankaas.io
Authorization: Bearer {Token}
Content-Type: application/x-www-form-urlencoded

insert_data={ "Key" : "Value" }</pre>
<p><code>insert_data</code> : JSON형식으로 입력한 데이터를 Collection에 추가합니다.
</p>

</div>
</div>

<h4>Collection내의 특정 ID를 가진 Object 수정</h4>
<blockquote>
<p>HTTP PATCH Method로 Object의 값(속성)을 변경할 수 있습니다. HTTP Request Body에 변경할 정보를 입력합니다.</p></blockquote>
<div class="panel panel-info">
<div class="panel-heading">
Request
</div>
<div class="panel-body">
<pre>PATCH /{User-Key}/{App-Key}/{Collection-Name}/{ObjectID} HTTP/1.1
Host: rankaas.io
Authorization: Bearer {Token}
Content-Type: application/x-www-form-urlencoded

update_data={ "Key" : "Value" }</pre>
<p><code>update_data</code> : ObjectID에 대응되는 Object에서 Key속성을 찾고,
해당 속성이 있으면 Value를 대치하고, 없으면 해당 속성을 새로 등록합니다. JSON형식으로 입력합니다.
</p>

</div>
</div>
<h4>Collection내의 특정 ID를 가진 Object 삭제</h4>
<p></p>
<div class="panel panel-info">
<div class="panel-heading">
Request
</div>
<div class="panel-body">
<pre>DELETE /{User-Key}/{App-Key}/{Collection-Name}/{ObjectID} HTTP/1.1
Host: rankaas.io
Authorization: Bearer {Token}</pre>
<p>해당 ObjectID와 대응되는 Object를 삭제합니다.
</p>

</div>
</div>

<hr/>
<h3 id="restful-ranks">Ranks</h3>
<blockquote>
<p>Ranks 컬렉션은 다른 컬렉션들과 달리 정렬이 가능하고 값을 조회할수 있는 조건이 다양한 반면, Manage를 통해 Read만 가능합니다.
  콜렉션 편집기능은 지원하지 않습니다.</p></blockquote>
<div class="panel panel-info">
  <div class="panel-heading">
    Request GET
  </div>
  <div class="panel-body">
<pre>GET /{User-Key}/{App-Key}/ranks?n={attrib}&q={User-ID}&r={Range}&cn={Channel-Name}&cv={Channel-Value} HTTP/1.1</pre>
    <p>
      <code>n</code> : 랭킹을 조회할 기준을 수립합니다. attrib에 아래의 기준을 입력할 수 있습니다.</p>
      <ul><li><code>one</code> : ID의 Rank를 조회합니다.</li>
        <li><code>friends</code> : ID의 친구들을 기준으로 Rank를 조회/정렬합니다. [Not Implement]</li>
        <li><code>multi</code> : 여러명의 Rank를 조회합니다. ID에 여러명의 ID를 <code>,</code>로 이어줍니다.</li>
        <li><code>score</code> : 점수를 기준으로 조회합니다. min과 max를 인자로 넘겨주면 그 사이에 있는 점수를 기준으로 조회/정렬합니다</li>
      </ul>
    <p>
      <code>Range</code> : ID를 기준으로 Range 범위만큼 Rank를 조회합니다. one일 때에만 동작합니다.<br>
      <code>Channel Name</code> : Rank의 영역 정보 이름입니다. 이 값은 지정하지 않았다면 "global"이 됩니다.<br>
      <code>Channel Value</code> : Rank의 영역 값입니다. 이 값은 지정하지 않았다면 0이 됩니다.<br>
    </p>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    Request
  </div>
  <div class="panel-body">
    <pre>POST /{User-Key}/{App-Key}/ranks HTTP/1.1
Host: rankaas.io
Authorization: Bearer {Token}
Content-Type: application/x-www-form-urlencoded

cn={Channel-Name}&cv={Channel-Value}&score={Score}&data={Data}</pre>
    <p>
      <code>Channel Name</code> : Rank의 영역 정보 이름입니다. 예를 들어 스테이지별로 따로 랭킹을 관리하고 싶다면 <code>"Stage"</code>라고 적습니다. <br>
      <code>Channel Value</code> : Rank의 영역 값입니다. 예를 들어 스테이지별로 따로 랭킹을 관리하고 싶다면 Stage의 ID를 적습니다.<br>
      <code>Score</code> : 등록할 점수입니다.<br>
      <code>Data</code> : 점수 이외에 추가적으로 등록할 데이터가 있다면 적어줍니다. </p>
  </div>
</div>
<hr/>
<h3 id="restful-session">Session</h3>
<blockquote>
<p>맨 처음 애플리케이션에 접근하려면 Session에 요청을 해서 Token을 얻어와야 합니다. 동시에 회원가입을 진행합니다. 이때 발급받은 토큰으로 RankaaS API를 이용할 수 있습니다.
  토큰의 만료기한은 7일입니다.
</p>
</blockquote>
<div class="panel panel-info">
  <div class="panel-heading">
    Request
  </div>
  <div class="panel-body">

    <p>
      카카오톡과 페이스북을 통한 인증을 기본으로 합니다.</p>
      <pre>POST /User Key/App Key/session HTTP/1.1
Host: rankaas.io
Content-Type: application/x-www-form-urlencoded

type=kakao&token={Kakao-Access-Token}&app_id={Kakao-App-ID}</pre>
      <pre>POST /User Key/App Key/session HTTP/1.1
Host: rankaas.io
Content-Type: application/x-www-form-urlencoded

type=fb&token={Facebook-Access-Token}&app_id={Facebook-App-ID}</pre>


    </div>
  </div>
  <hr/>

<h2 id="unity">Unity SDK</h2>
<blockquote>
  <p>Rankaas.io 에서는 Unity SDK를 기본적으로 지원합니다. <br>
    SDK는 <a href="https://github.com/Rankaas/RankaaS.io-UnitySDK">이곳</a>에서 unitypackage파일을 얻으실 수 있습니다. </p>
</blockquote>

<h3 id="unity-init">Initialize</h3>
<blockquote>
<p>Rankaas.io 클래스 init함수에 유저의 Key와 App Key를 입력하여 초기화합니다.</p>
</blockquote>
<pre class="line-numbers">
<code class="language-csharp">using Rankaas;

// 어플리케이션 Key를 입력하여 초기화합니다.
Rankaas.io.init("User Key", "App Key");

// 어플리케이션 관리자 권한으로 개발을 하시려면 App Sceret 인자를 더 추가합니다.
Rankaas.io.init("User Key", "App Key", "App Sceret");</code>
</pre>

  <hr/>
<h3 id="unity-collection">Collection</h3>
<blockquote>
<p>Rankaas.io.API 클래스 내의 여러가지 Object 관련 함수를 사용합니다.</p>
</blockquote>

<h4>Index</h4>
<pre>
<code class="language-csharp">using Rankaas;

// 컬렉션 이름과 Object ID를 입력하여 Object를 가져옵니다.
Rankaas.io.API.GetObject("Collection Name", "Object ID");

// 전체 컬렉션 Object 중 커서 위치부터 Object를 가져옵니다.
Rankaas.io.API.QueryByObjects("Collection Name", (int)커서 위치);

// 컬렉션 이름과 JSON 쿼리와 커서 위치로부터 Object를 가져옵니다.
Rankaas.io.API.QueryByObjects("Collection Name", (int)커서 위치, "쿼리");

// 컬렉션 이름과 조건을 입력하여 Objects를 가져옵니다.
Rankaas.io.API.FindByObjects("Collection Name", "조건 Key Name", "조건 Value");</code>
</pre><br>

<h4>Insert</h4>
<pre>
<code class="language-csharp">using Rankaas;

// 컬렉션 이름과 Json String을 전달하여 오브젝트를 생성합니다.
Rankaas.io.API.InsertObject("Collection Name", "JSON Data");</code>
</pre>
<br>
<h4>Update</h4>
<pre>
<code class="language-csharp">using Rankaas;

// 컬렉션 이름과 Object ID, 변경 혹은 추가할 JSON Data를 입력합니다.
Rankaas.io.API.UpdateObject("Collection Name", "Object ID", "JSON DATA");</code>
</pre>

<br>
<h4>Delete</h4>
<pre>
<code class="language-csharp">using Rankaas;

// 컬렉션 이름과 Object ID를 입력하여 Object를 삭제합니다.
Rankaas.io.API.DeleteObject("Collection Name", "Object ID");</code>
</pre>


  <hr>
  <h3 id="unity-session">Session</h3>
  <blockquote>
  <p>Rankaas.io.API 클래스 내의 여러가지 Session 관련 함수를 사용합니다.</p>
  </blockquote>
<pre>
<code class="language-csharp">using Rankaas;

// 페이스북 Access Token을 입력하여 로그인/회원가입을 합니다.
Rankaas.io.API.LoginWithFacebook("Access Token");

// 카카오 Access Token을 입력하여 로그인/회원가입을 합니다.
Rankaas.io.API.LoginWithKakao("Access Token");</code>
</pre>

<hr>

<h3 id="unity-rank">Ranking</h3>
<blockquote>
<p>Rankaas.io.API 클래스 내의 여러가지 Ranking 관련 함수를 사용합니다.</p>
</blockquote>
<h4>Index</h4>
<pre>
<code class="language-csharp">using Rankaas;

// 해당 채널의 한 유저를 기준으로 Range만큼 범위의 랭킹을 조회합니다.
Rankaas.io.API.GetUserRank("User ID", Range, "channelName", "channelValue");

// 해당 채널의 Score를 범위로 랭킹을 조회합니다.
Rankaas.io.API.GetRankByScoreRange(Score 최소범위, Score 최대범위, "channelName", "channelValue")

// 해당 채널의 User들의 랭킹을 조회합니다.
Rankaas.io.API.GetMultiRank(List&lt;string&gt; UserIds, "channelName", "channelValue");</code>
</pre><br>
<h4>Insert</h4>
<pre>
<code class="language-csharp">using Rankaas;

// 해당 채널에 점수와 Data를 등록합니다.
Rankaas.io.API.InsertRank(Score, "Data", "channelName", "channelValue");</code>
</pre>

<h3 id="unity-example">Example</h3>
<blockquote>
RankaaS.io의 다양한 API을 사용하는 예제입니다.
</blockquote>
<pre>
<code class="language-csharp">using UnityEngine;
using Rankaas;
using Newtonsoft.Json.Linq;

void Start () {
  	RankaaS.io.init ("YOUR_USER_KEY", "YOUR_APP_KEY");
    if (RankaaS.io.API.LoginWithFacebook (testFacebookToken)) {
      JToken me = RankaaS.io.API.GetObject("users", "me");
      string id = me["id"];
      string name = me["full_name"];

      // 나라별로 랭킹을 등록합니다.
      Rankaas.io.API.InsertRank(1000, "Country", "KR");

      // 나라 KR의 1000~2000점 사이의 유저의 랭킹을 불러옵니다.
      foreach(JToken rank in Rankaas.io.API.GetRankByScoreRange(1000, 2000, "Country", "KR"))
      {
         rank["score"] // 점수
         rank["user_id"] // 해당 유저
      }

      // 나라 KR의 내 랭크을 불러옵니다.
      Rankaas.io.API.GetUserRank(id, "Country", "KR");
    }
}
</code></pre>

  <h3 id="exception">Exception</h3>
  <blockquote>
<p>에러의 내용은 HTTP Status Code에 기반함과 동시에 세부 내용을 알 수 있도록 RanKaaS에서 반환하는 값이 존재합니다.</p>
</blockquote>

  <table class="table table-striped table-bordered table-hover dataTable no-footer">
    <thead>
      <tr role="row">
        <th>HTTP Status Code</th>
        <th>RankaaS Error Code</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>400</td>
        <td>100</td>
        <td>유저 API Key나 App Key가 존재하지 않습니다.</td>
      </tr>
      <tr>
        <td>400</td>
        <td>101</td>
        <td>인자의 갯수가 일치하지 않습니다.</td>
      </tr>


      <tr>
        <td>404</td>
        <td>102</td>
        <td>해당하는 Collection을 찾을 수 없습니다.</td>
      </tr>
      <tr>
        <td>404</td>
        <td>103</td>
        <td>해당하는 Object를 찾을 수 없습니다.</td>
      </tr>
      <tr>
        <td>400</td>
        <td>104</td>
        <td>인자가 올바르지 않습니다.</td>
      </tr>
      <tr>
        <td>400</td>
        <td>105</td>
        <td>올바르지 않은 요청입니다. 요청한 HTTP Method과 일치하는 응답이 존재하지 않습니다.</td>
      </tr>

      <tr>
        <td>401</td>
        <td>200</td>
        <td>해당 세션은 만료되었거나 존재하지 않습니다.</td>
      </tr>
      <tr>
        <td>401</td>
        <td>201</td>
        <td>세션 발급에 실패하였습니다. ID혹은 PW를 확인하시거나 Kakao, Facebook의 Access Token을 확인해주세요.</td>
      </tr>
      <tr>
        <td>401</td>
        <td>202</td>
        <td>당신의 권한으로는 접근할 수 없습니다. 해당 세션의 퍼미션을 확인해주세요.</td>
      </tr>
      <tr>
        <td>400</td>
        <td>300</td>
        <td>요청 횟수제한을 초과하였습니다. 잠시후 시도해주세요.</td>
      </tr>
      <tr>
        <td>500</td>
        <td>-1</td>
        <td>잘 모르는 에러입니다.</td>
      </tr>



    </tbody>
  </table>


</div>
<div class="col-xs-3 col-sm-3">
    <div class="bs-docs-sidebar"  role="complementary">
        <ul id="sidebar" class="nav bs-docs-sidenav affix" data-spy="affix" data-offset-top="100" data-offset-bottom="0">
          <li><a href="#basic_request">Basic Request</a></li>

            <li>
                <a href="#restful">Restful API</a>
                <ul class="nav nav-stacked">
                  <li>  <a href="#restful-collections">Collections</a></li>
                       <li><a href="#restful-ranks">Ranking</a></li>
                      <li><a href="#restful-session">Session</a></li>
                </ul>
            </li>
            <li>
                <a href="#unity">Unity SDK</a>
                <ul class="nav nav-stacked">
                    <li><a href="#unity-init">Initialize</a></li>
                    <li><a href="#unity-collection">Collection</a></li>
                    <li><a href="#unity-session">Session</a></li>
                    <li><a href="#unity-rank">Ranking</a></li>
                    <li><a href="#unity-example">Example</a></li>
                </ul>
            </li>
            <li>
              <a href="#ruby">Ruby SDK</a>
            </li>
            <li>
                <a href="#exception">Exception</a>
            </li>
        </ul>
    </div>




        </div>

</div>


</div>
    <footer>
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-4">
            <a class="footer-brand" href="index.html">RankaaS.io</a>
            <p>인디게임 개발자분들을 위한 게임 백엔드 서비스입니다. 고객님의 말씀은 언제나 귀기울일 수 있는 RankaaS.io가 되겠습니다. 감사합니다.</p>
            <ul class="list-inline list-unstyled social-networks">
              <li>
                <a href="#">
                  <div class="icon-social icon-social-facebook normal">
                    <i class="fa fa-facebook"></i>
                  </div>
                  <div class="icon-social hover">
                    <i class="fa fa-facebook"></i>
                  </div>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="icon-social icon-social-twitter normal">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <div class="icon-social hover">
                    <i class="fa fa-twitter"></i>
                  </div>
                </a>
              </li>

            </ul>
          </div>
          <div class="col-lg-4 col-md-4">
            <h3>CONTACT</h3>
            <address>
              <i class="fa fa-map-marker"></i> 서울특별시 강남구 테헤란로 아남타워빌딩 7층 소프트웨어 마에스트로 연수센터<br>
              <i class="fa fa-phone"></i> +82 10 2748 2522<br>
              <i class="fa fa-envelope"></i> admin@rankaas.io
            </address>
          </div>

          <div class="col-lg-4 col-md-4">
            <h3>LATEST NEWS</h3>
            <ul class="latest-tweets">
              <li>
                <i class="fa fa-pencil"></i> <%= @news[0] %>
              </li>
              <li>
                <i class="fa fa-pencil"></i> <%= @news[1] %>
              </li>
            </ul>
          </div>

        </div><!-- /.row -->

      </div><!-- /.container -->
    </footer>

    <div class="footer-after">
      <div class="container">
        <div class="row">
          <p class="col-md-9">© 2014 RankaaS.io All rights reserved.</p>
<p class="col-md-3 legal"><a href="/agreement" rel="nofollow">이용약관</a> | <a href="/privacy" rel="nofollow">개인정보취급방침</a></p>

        </div><!-- /.row -->
      </div>
    </div>


<script>

$('body').scrollspy({
    target: '.bs-docs-sidebar',
    offset: 300
});
/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+http+csharp&plugins=line-highlight+line-numbers */
self="undefined"!=typeof window?window:"undefined"!=typeof WorkerGlobalScope&&self instanceof WorkerGlobalScope?self:{};var Prism=function(){var e=/\blang(?:uage)?-(?!\*)(\w+)\b/i,t=self.Prism={util:{encode:function(e){return e instanceof n?new n(e.type,t.util.encode(e.content),e.alias):"Array"===t.util.type(e)?e.map(t.util.encode):e.replace(/&/g,"&amp;").replace(/</g,"&lt;").replace(/\u00a0/g," ")},type:function(e){return Object.prototype.toString.call(e).match(/\[object (\w+)\]/)[1]},clone:function(e){var n=t.util.type(e);switch(n){case"Object":var a={};for(var r in e)e.hasOwnProperty(r)&&(a[r]=t.util.clone(e[r]));return a;case"Array":return e.slice()}return e}},languages:{extend:function(e,n){var a=t.util.clone(t.languages[e]);for(var r in n)a[r]=n[r];return a},insertBefore:function(e,n,a,r){r=r||t.languages;var i=r[e],l={};for(var o in i)if(i.hasOwnProperty(o)){if(o==n)for(var s in a)a.hasOwnProperty(s)&&(l[s]=a[s]);l[o]=i[o]}return r[e]=l},DFS:function(e,n,a){for(var r in e)e.hasOwnProperty(r)&&(n.call(e,r,e[r],a||r),"Object"===t.util.type(e[r])?t.languages.DFS(e[r],n):"Array"===t.util.type(e[r])&&t.languages.DFS(e[r],n,r))}},highlightAll:function(e,n){for(var a,r=document.querySelectorAll('code[class*="language-"], [class*="language-"] code, code[class*="lang-"], [class*="lang-"] code'),i=0;a=r[i++];)t.highlightElement(a,e===!0,n)},highlightElement:function(a,r,i){for(var l,o,s=a;s&&!e.test(s.className);)s=s.parentNode;if(s&&(l=(s.className.match(e)||[,""])[1],o=t.languages[l]),o){a.className=a.className.replace(e,"").replace(/\s+/g," ")+" language-"+l,s=a.parentNode,/pre/i.test(s.nodeName)&&(s.className=s.className.replace(e,"").replace(/\s+/g," ")+" language-"+l);var c=a.textContent;if(c){var g={element:a,language:l,grammar:o,code:c};if(t.hooks.run("before-highlight",g),r&&self.Worker){var u=new Worker(t.filename);u.onmessage=function(e){g.highlightedCode=n.stringify(JSON.parse(e.data),l),t.hooks.run("before-insert",g),g.element.innerHTML=g.highlightedCode,i&&i.call(g.element),t.hooks.run("after-highlight",g)},u.postMessage(JSON.stringify({language:g.language,code:g.code}))}else g.highlightedCode=t.highlight(g.code,g.grammar,g.language),t.hooks.run("before-insert",g),g.element.innerHTML=g.highlightedCode,i&&i.call(a),t.hooks.run("after-highlight",g)}}},highlight:function(e,a,r){var i=t.tokenize(e,a);return n.stringify(t.util.encode(i),r)},tokenize:function(e,n){var a=t.Token,r=[e],i=n.rest;if(i){for(var l in i)n[l]=i[l];delete n.rest}e:for(var l in n)if(n.hasOwnProperty(l)&&n[l]){var o=n[l];o="Array"===t.util.type(o)?o:[o];for(var s=0;s<o.length;++s){var c=o[s],g=c.inside,u=!!c.lookbehind,f=0,h=c.alias;c=c.pattern||c;for(var p=0;p<r.length;p++){var d=r[p];if(r.length>e.length)break e;if(!(d instanceof a)){c.lastIndex=0;var m=c.exec(d);if(m){u&&(f=m[1].length);var y=m.index-1+f,m=m[0].slice(f),v=m.length,k=y+v,b=d.slice(0,y+1),w=d.slice(k+1),N=[p,1];b&&N.push(b);var O=new a(l,g?t.tokenize(m,g):m,h);N.push(O),w&&N.push(w),Array.prototype.splice.apply(r,N)}}}}}return r},hooks:{all:{},add:function(e,n){var a=t.hooks.all;a[e]=a[e]||[],a[e].push(n)},run:function(e,n){var a=t.hooks.all[e];if(a&&a.length)for(var r,i=0;r=a[i++];)r(n)}}},n=t.Token=function(e,t,n){this.type=e,this.content=t,this.alias=n};if(n.stringify=function(e,a,r){if("string"==typeof e)return e;if("[object Array]"==Object.prototype.toString.call(e))return e.map(function(t){return n.stringify(t,a,e)}).join("");var i={type:e.type,content:n.stringify(e.content,a,r),tag:"span",classes:["token",e.type],attributes:{},language:a,parent:r};if("comment"==i.type&&(i.attributes.spellcheck="true"),e.alias){var l="Array"===t.util.type(e.alias)?e.alias:[e.alias];Array.prototype.push.apply(i.classes,l)}t.hooks.run("wrap",i);var o="";for(var s in i.attributes)o+=s+'="'+(i.attributes[s]||"")+'"';return"<"+i.tag+' class="'+i.classes.join(" ")+'" '+o+">"+i.content+"</"+i.tag+">"},!self.document)return self.addEventListener?(self.addEventListener("message",function(e){var n=JSON.parse(e.data),a=n.language,r=n.code;self.postMessage(JSON.stringify(t.util.encode(t.tokenize(r,t.languages[a])))),self.close()},!1),self.Prism):self.Prism;var a=document.getElementsByTagName("script");return a=a[a.length-1],a&&(t.filename=a.src,document.addEventListener&&!a.hasAttribute("data-manual")&&document.addEventListener("DOMContentLoaded",t.highlightAll)),self.Prism}();"undefined"!=typeof module&&module.exports&&(module.exports=Prism);;
Prism.languages.markup={comment:/<!--[\w\W]*?-->/g,prolog:/<\?.+?\?>/,doctype:/<!DOCTYPE.+?>/,cdata:/<!\[CDATA\[[\w\W]*?]]>/i,tag:{pattern:/<\/?[\w:-]+\s*(?:\s+[\w:-]+(?:=(?:("|')(\\?[\w\W])*?\1|[^\s'">=]+))?\s*)*\/?>/gi,inside:{tag:{pattern:/^<\/?[\w:-]+/i,inside:{punctuation:/^<\/?/,namespace:/^[\w-]+?:/}},"attr-value":{pattern:/=(?:('|")[\w\W]*?(\1)|[^\s>]+)/gi,inside:{punctuation:/=|>|"/g}},punctuation:/\/?>/g,"attr-name":{pattern:/[\w:-]+/g,inside:{namespace:/^[\w-]+?:/}}}},entity:/\&#?[\da-z]{1,8};/gi},Prism.hooks.add("wrap",function(t){"entity"===t.type&&(t.attributes.title=t.content.replace(/&amp;/,"&"))});;
Prism.languages.css={comment:/\/\*[\w\W]*?\*\//g,atrule:{pattern:/@[\w-]+?.*?(;|(?=\s*{))/gi,inside:{punctuation:/[;:]/g}},url:/url\((["']?).*?\1\)/gi,selector:/[^\{\}\s][^\{\};]*(?=\s*\{)/g,property:/(\b|\B)[\w-]+(?=\s*:)/gi,string:/("|')(\\?.)*?\1/g,important:/\B!important\b/gi,punctuation:/[\{\};:]/g,"function":/[-a-z0-9]+(?=\()/gi},Prism.languages.markup&&Prism.languages.insertBefore("markup","tag",{style:{pattern:/<style[\w\W]*?>[\w\W]*?<\/style>/gi,inside:{tag:{pattern:/<style[\w\W]*?>|<\/style>/gi,inside:Prism.languages.markup.tag.inside},rest:Prism.languages.css}}});;
Prism.languages.clike={comment:[{pattern:/(^|[^\\])\/\*[\w\W]*?\*\//g,lookbehind:!0},{pattern:/(^|[^\\:])\/\/.*?(\r?\n|$)/g,lookbehind:!0}],string:/("|')(\\?.)*?\1/g,"class-name":{pattern:/((?:(?:class|interface|extends|implements|trait|instanceof|new)\s+)|(?:catch\s+\())[a-z0-9_\.\\]+/gi,lookbehind:!0,inside:{punctuation:/(\.|\\)/}},keyword:/\b(if|else|while|do|for|return|in|instanceof|function|new|try|throw|catch|finally|null|break|continue)\b/g,"boolean":/\b(true|false)\b/g,"function":{pattern:/[a-z0-9_]+\(/gi,inside:{punctuation:/\(/}},number:/\b-?(0x[\dA-Fa-f]+|\d*\.?\d+([Ee]-?\d+)?)\b/g,operator:/[-+]{1,2}|!|<=?|>=?|={1,3}|&{1,2}|\|?\||\?|\*|\/|\~|\^|\%/g,ignore:/&(lt|gt|amp);/gi,punctuation:/[{}[\];(),.:]/g};;
Prism.languages.javascript=Prism.languages.extend("clike",{keyword:/\b(break|case|catch|class|const|continue|debugger|default|delete|do|else|enum|export|extends|false|finally|for|function|get|if|implements|import|in|instanceof|interface|let|new|null|package|private|protected|public|return|set|static|super|switch|this|throw|true|try|typeof|var|void|while|with|yield)\b/g,number:/\b-?(0x[\dA-Fa-f]+|\d*\.?\d+([Ee]-?\d+)?|NaN|-?Infinity)\b/g}),Prism.languages.insertBefore("javascript","keyword",{regex:{pattern:/(^|[^/])\/(?!\/)(\[.+?]|\\.|[^/\r\n])+\/[gim]{0,3}(?=\s*($|[\r\n,.;})]))/g,lookbehind:!0}}),Prism.languages.markup&&Prism.languages.insertBefore("markup","tag",{script:{pattern:/<script[\w\W]*?>[\w\W]*?<\/script>/gi,inside:{tag:{pattern:/<script[\w\W]*?>|<\/script>/gi,inside:Prism.languages.markup.tag.inside},rest:Prism.languages.javascript}}});;
Prism.languages.http={"request-line":{pattern:/^(POST|GET|PUT|DELETE|OPTIONS|PATCH|TRACE|CONNECT)\b\shttps?:\/\/\S+\sHTTP\/[0-9.]+/g,inside:{property:/^\b(POST|GET|PUT|DELETE|OPTIONS|PATCH|TRACE|CONNECT)\b/g,"attr-name":/:\w+/g}},"response-status":{pattern:/^HTTP\/1.[01] [0-9]+.*/g,inside:{property:/[0-9]+[A-Z\s-]+$/gi}},keyword:/^[\w-]+:(?=.+)/gm};var httpLanguages={"application/json":Prism.languages.javascript,"application/xml":Prism.languages.markup,"text/xml":Prism.languages.markup,"text/html":Prism.languages.markup};for(var contentType in httpLanguages)if(httpLanguages[contentType]){var options={};options[contentType]={pattern:new RegExp("(content-type:\\s*"+contentType+"[\\w\\W]*?)\\n\\n[\\w\\W]*","gi"),lookbehind:!0,inside:{rest:httpLanguages[contentType]}},Prism.languages.insertBefore("http","keyword",options)};
Prism.languages.csharp=Prism.languages.extend("clike",{keyword:/\b(abstract|as|base|bool|break|byte|case|catch|char|checked|class|const|continue|decimal|default|delegate|do|double|else|enum|event|explicit|extern|false|finally|fixed|float|for|foreach|goto|if|implicit|in|int|interface|internal|is|lock|long|namespace|new|null|object|operator|out|override|params|private|protected|public|readonly|ref|return|sbyte|sealed|short|sizeof|stackalloc|static|string|struct|switch|this|throw|true|try|typeof|uint|ulong|unchecked|unsafe|ushort|using|virtual|void|volatile|while|add|alias|ascending|async|await|descending|dynamic|from|get|global|group|into|join|let|orderby|partial|remove|select|set|value|var|where|yield)\b/g,string:/@?("|')(\\?.)*?\1/g,preprocessor:/^\s*#.*/gm,number:/\b-?(0x)?\d*\.?\d+\b/g});;
!function(){function e(e,t){return Array.prototype.slice.call((t||document).querySelectorAll(e))}function t(e,t){return t=" "+t+" ",(" "+e.className+" ").replace(/[\n\t]/g," ").indexOf(t)>-1}function n(e,n,r){for(var i,a=n.replace(/\s+/g,"").split(","),l=+e.getAttribute("data-line-offset")||0,o=parseFloat(getComputedStyle(e).lineHeight),d=0;i=a[d++];){i=i.split("-");var c=+i[0],h=+i[1]||c,s=document.createElement("div");s.textContent=Array(h-c+2).join(" \r\n"),s.className=(r||"")+" line-highlight",t(e,"line-numbers")||(s.setAttribute("data-start",c),h>c&&s.setAttribute("data-end",h)),s.style.top=(c-l-1)*o+"px",t(e,"line-numbers")?e.appendChild(s):(e.querySelector("code")||e).appendChild(s)}}function r(){var t=location.hash.slice(1);e(".temporary.line-highlight").forEach(function(e){e.parentNode.removeChild(e)});var r=(t.match(/\.([\d,-]+)$/)||[,""])[1];if(r&&!document.getElementById(t)){var i=t.slice(0,t.lastIndexOf(".")),a=document.getElementById(i);a&&(a.hasAttribute("data-line")||a.setAttribute("data-line",""),n(a,r,"temporary "),document.querySelector(".temporary.line-highlight").scrollIntoView())}}if(window.Prism){var i=(crlf=/\r?\n|\r/g,0);Prism.hooks.add("after-highlight",function(t){var a=t.element.parentNode,l=a&&a.getAttribute("data-line");a&&l&&/pre/i.test(a.nodeName)&&(clearTimeout(i),e(".line-highlight",a).forEach(function(e){e.parentNode.removeChild(e)}),n(a,l),i=setTimeout(r,1))}),addEventListener("hashchange",r)}}();;
Prism.hooks.add("after-highlight",function(e){var n=e.element.parentNode;if(n&&/pre/i.test(n.nodeName)&&-1!==n.className.indexOf("line-numbers")){var t,a=1+e.code.split("\n").length;lines=new Array(a),lines=lines.join("<span></span>"),t=document.createElement("span"),t.className="line-numbers-rows",t.innerHTML=lines,n.hasAttribute("data-start")&&(n.style.counterReset="linenumber "+(parseInt(n.getAttribute("data-start"),10)-1)),e.element.appendChild(t)}});;
</script>
  </body>

</html>
