<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RankaaS - 인디게임 개발자분을 위한 게임 백엔드 서비스</title>

    <!-- font-awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]>
    <link href="css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="css/ie8.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 7]>
    <link href="css/ie7.css" rel="stylesheet">
    <![endif]-->

    <!-- JavaScript -->
    <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <!--[if lte IE 7]>
    <script type="text/javascript" src="js/boxsizing/jquery.boxsizing.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/banzhow.js"></script>
  </head>


  <body>


    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

<div class="brand">
  <a href="/" class="logo"><span>RankaaS</span>.io</a>
</div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/features">Features</a></li>
            <li><a href="/price">Price</a></li>
            <li><a href="/dev">Development</a></li>
<% if @isLogin %>
<li><a href="/login">My Apps</a></li>
<% else %>
<li><a href="/login">Login</a></li>
<% end %>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>


<div class="section-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h1 class="page-header">Features <small>RankaaS.io의 다양한 기능을 알아보세요.</small></h1>
      </div>

    </div>
  </div> <!-- /.container -->
</div> <!-- /.section-colored -->

<div class="container container-int">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Features</li>
</ol>

<div class="row">

  <div class="col-md-3 col-sm-3">
    <a><img class="img-responsive" src="img/portfolio_1.png" alt="Portfolio 1"></a>
  </div>

  <div class="col-md-9 col-sm-9">
    <h1>User Service</h1>
    <p>RankaaS.io에서는 고객님의 게임 유저들을 관리하기 쉽게 기본적으로 유저 서비스를 제공합니다. DataConsole에서 유저 데이터를 조회하거나 편집, 삭제까지 모든 기능을 제공합니다.</p>
  </div>

</div>

<hr>
<div class="row">


    <div class="col-md-3 col-sm-3">
      <a><img class="img-responsive" src="img/portfolio_2.png" alt="Portfolio 1"></a>
    </div>

<div class="col-md-9 col-sm-9">
  <h1>Social Login</h1>
  <p>RankaaS.io에서는 고객님의 게임 유저분들의 진입장벽을 낮추기 위해 페이스북과 카카오톡 소셜 로그인 기능과 유저 회원 가입 기능 등을 기본적으로 제공합니다.</p>
</div>

</div>
<hr>

<div class="row">

  <div class="col-md-3 col-sm-3">
    <a><img class="img-responsive" src="img/portfolio_3.png" alt="Portfolio 1"></a>
  </div>

  <div class="col-md-9 col-sm-9">
    <h1>Rank Service</h1>
    <p>RankaaS.io에서는 게임 유저들을 다양한 기준, 다양한 방법으로 정렬하는 랭킹 서비스를 제공합니다. DataConsole에서 역시 유저들의 Record를 조회하거나 편집, 삭제까지 모든 기능을 제공합니다.</p>
  </div>

</div>
<hr>

<div class="row">

  <div class="col-md-3 col-sm-3">
    <a><img class="img-responsive" src="img/portfolio_4.png" alt="Portfolio 1"></a>
  </div>

  <div class="col-md-9 col-sm-9">
    <h1>Analytics Service</h1>
    <p>RankaaS.io에서는 게임의 지표를 나타내는 유저 수의 변화량, 쿼리 요청 횟수를 시간별로 기록해 그래프화 하여 제공합니다.</p>
  </div>

</div>


</div>
<footer>
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-4">
        <a class="footer-brand" href="index.html">RankaaS.io</a>
        <p>인디게임 개발자분들을 위한 게임 백엔드 서비스입니다. 고객님의 말씀은 언제나 귀기울일 수 있는 RankaaS.io가 되겠습니다. 감사합니다.</p>
        <ul class="list-inline list-unstyled social-networks">
          <li>
            <a href="#">
              <div class="icon-social icon-social-facebook normal">
                <i class="fa fa-facebook"></i>
              </div>
              <div class="icon-social hover">
                <i class="fa fa-facebook"></i>
              </div>
            </a>
          </li>

          <li>
            <a href="#">
              <div class="icon-social icon-social-twitter normal">
                <i class="fa fa-twitter"></i>
              </div>
              <div class="icon-social hover">
                <i class="fa fa-twitter"></i>
              </div>
            </a>
          </li>

        </ul>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3>CONTACT</h3>
        <address>
          <i class="fa fa-map-marker"></i> 서울특별시 강남구 테헤란로 아남타워빌딩 7층 소프트웨어 마에스트로 연수센터<br>
          <i class="fa fa-phone"></i> +82 10 2748 2522<br>
          <i class="fa fa-envelope"></i> admin@rankaas.io
        </address>
      </div>

      <div class="col-lg-4 col-md-4">
        <h3>LATEST NEWS</h3>
        <ul class="latest-tweets">
          <li>
            <i class="fa fa-pencil"></i> <%= @news[0] %>
          </li>
          <li>
            <i class="fa fa-pencil"></i> <%= @news[1] %>
          </li>
        </ul>
      </div>

    </div><!-- /.row -->

  </div><!-- /.container -->
</footer>

    <div class="footer-after">
      <div class="container">
        <div class="row">
          <p class="col-md-9">© 2014 RankaaS.io All rights reserved.</p>
          <p class="col-md-3 legal"><a href="/agreement" rel="nofollow">이용약관</a> | <a href="/privacy" rel="nofollow">개인정보취급방침</a></p>

        </div><!-- /.row -->
      </div>
    </div>





  </body>
</html>
