<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:image" content="https://rankaas.io/logo_fb2.png"/>
    <meta property="og:description" content="인디게임 개발자분들, 혹은 모바일 게임 백엔드 구축에 어려움을 겪고 계신분들을 위한 게임 백엔드 서비스입니다. "/>
    <title>RankaaS - 인디게임 개발자분을 위한 게임 백엔드 서비스</title>

    <!-- font-awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]>
    <link href="css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="css/ie8.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 7]>
    <link href="css/ie7.css" rel="stylesheet">
    <![endif]-->

    <!-- JavaScript -->
    <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <!--[if lte IE 7]>
    <script type="text/javascript" src="js/boxsizing/jquery.boxsizing.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/banzhow.js"></script>
  </head>


  <body>


    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="brand">
            <a href="/" class="logo"><span>RankaaS</span>.io</a>
          </div>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/price">Price</a></li>
            <li><a href="/dev">Development</a></li>
            <% if @isLogin %>
            <li><a href="/login">My Apps</a></li>
            <% else %>
            <li><a href="/login">Login</a></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>



    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="fill" style="background-image:url('mainpage.jpg');"></div>
            <div class="carousel-caption">
              <h2>Easy Backend</h2>
              <a href="/dev" class="button">Learn More</a>
            </div>
          </div>
          <!--
          <div class="item">
            <div class="fill" style="background-image:url('img/slide/slide2.png');"></div>
            <div class="carousel-caption">
              <h2>fully responsive and retina ready</h2>
              <a href="#" class="button">SEE MORE</a>
            </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('img/slide/slide3.png');"></div>
            <div class="carousel-caption">
              <h2>based on twitter bootstrap</h2>
              <a href="#" class="button">DOWNLOAD</a>
            </div>
          </div>
          -->
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
    </div>

    <div class="section">

      <div class="container">

        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="block-icon">
              <i class="fa fa-rocket"></i>
            </div>

            <div class="block-body">
              <h2>SDK</h2>
              <div class="line-subtitle"></div>
              <p>기본적으로 HTTP Restful을 기초로 하며 Unity, Java, Cocos-2dx(예정) 등 추가로 다양한 SDK를 지원합니다. </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="block-icon">
              <i class="fa fa-users"></i>
            </div>

            <div class="block-body">
              <h2>Performace</h2>
              <div class="line-subtitle"></div>
              <p>RankaaS.io의 Back-end는 대규모 유저데이터에 대한 정렬에 특히 강력한 성능을 자랑합니다. 그 외에도 NOSQL기반의 스토리지 구성으로 최적의 성능을 구현해냈습니다.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="block-icon">
              <i class="fa fa-cog"></i>
            </div>

            <div class="block-body">
              <h2>Easy Backend</h2>
              <div class="line-subtitle"></div>
              <p>RankaaS.io와 함께라면 데이터를 관리할 수 있는 DataConsole, 게임의 지표를 한눈에 파악할 수 있는 Ayalatics 고객님의 편의를 생각한 서비스들로 엄선하였습니다.</p>
            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->

    <div class="section-colored home">

      <div class="container">

        <div class="row">
          <div class="col-md-9 col-sm-8">
            <h2>Get Started Now!</h2>
          </div>
          <div class="col-md-3 col-sm-4">
            <a href="/register" class="btn btn-danger btn-lg">지금 바로 가입하기</a>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section-colored -->



    <div class="section">

      <div class="container">
        <h3 class="section-title text-center">Supporters</h3>

        <div class="container clients">

          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">
              <a href="#"><img class="img-responsive" src="MSIP.gif" alt="client 1"></a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">
              <a href="#"><img class="img-responsive" src="SOMA.png" alt="client 2"></a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">
              <a href="#"><img class="img-responsive" src="NIPA.gif" alt="client 3"></a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">
              <a href="#"><img class="img-responsive" src="FKII.png" alt="client 3"></a>
            </div>

          </div><!-- /.row -->

        </div><!-- /.container -->

      </div><!-- /.container -->

    </div><!-- /.section-colored -->

    <footer>
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-4">
            <a class="footer-brand" href="index.html">RankaaS.io</a>
            <p>인디게임 개발자분들을 위한 게임 백엔드 서비스입니다. 고객님의 말씀은 언제나 귀기울일 수 있는 RankaaS.io가 되겠습니다. 감사합니다.</p>
            <ul class="list-inline list-unstyled social-networks">
              <li>
                <a href="#">
                  <div class="icon-social icon-social-facebook normal">
                    <i class="fa fa-facebook"></i>
                  </div>
                  <div class="icon-social hover">
                    <i class="fa fa-facebook"></i>
                  </div>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="icon-social icon-social-twitter normal">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <div class="icon-social hover">
                    <i class="fa fa-twitter"></i>
                  </div>
                </a>
              </li>

            </ul>
          </div>
          <div class="col-lg-4 col-md-4">
            <h3>CONTACT</h3>
            <address>
              <i class="fa fa-map-marker"></i> 서울특별시 강남구 테헤란로 아남타워빌딩 7층 소프트웨어 마에스트로 연수센터<br>
              <i class="fa fa-phone"></i> +82 10 2748 2522<br>
              <i class="fa fa-envelope"></i> admin@rankaas.io
            </address>
          </div>

          <div class="col-lg-4 col-md-4">
            <h3>LATEST NEWS</h3>
            <ul class="latest-tweets">
              <li>
                <i class="fa fa-pencil"></i> <%= @news[0] %>
              </li>
              <li>
                <i class="fa fa-pencil"></i> <%= @news[1] %>
              </li>
            </ul>
          </div>

        </div><!-- /.row -->

      </div><!-- /.container -->
    </footer>

    <div class="footer-after">
      <div class="container">
        <div class="row">
          <p class="col-md-9">© 2014 RankaaS.io All rights reserved.</p>
<p class="col-md-3 legal"><a href="/agreement" rel="nofollow">이용약관</a> | <a href="/privacy" rel="nofollow">개인정보취급방침</a></p>

        </div><!-- /.row -->
      </div>
    </div>





  </body>
</html>
