<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RankaaS - 인디게임 개발자분을 위한 게임 백엔드 서비스</title>

    <!-- font-awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]>
    <link href="css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="css/ie8.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 7]>
    <link href="css/ie7.css" rel="stylesheet">
    <![endif]-->

    <!-- JavaScript -->
    <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <!--[if lte IE 7]>
    <script type="text/javascript" src="js/boxsizing/jquery.boxsizing.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/banzhow.js"></script>
  </head>


  <body>


    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

<div class="brand">
  <a href="/" class="logo"><span>RankaaS</span>.io</a>
</div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/price">Price</a></li>
            <li><a href="/dev">Development</a></li>
<% if @isLogin %>
<li><a href="/login">My Apps</a></li>
<% else %>
<li><a href="/login">Login</a></li>
<% end %>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>


<div class="section-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h1 class="page-header">Privacy Policy</small></h1>
      </div>

    </div>
  </div> <!-- /.container -->
</div> <!-- /.section-colored -->

<div class="container container-int">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Privacy Policy</li>
</ol>

<div class="row">
  <div class="col-lg-12">
    <blockquote>

  <h3>제 1조 총칙</h3>
  <p>알알게임즈(이하 '회사')는 회원의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호에 관한 법률" 등 정보통신서비스제공자가 준수하여야 할 관련 법령상의 개인정보보호 규정을 준수하고 있습니다. 회사는 개인정보취급방침을 통하여 회원이 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.<br>
<br>
회사는 개인정보취급방침을 개정하는 경우 웹 사이트 공지사항(또는 개별공지)을 통하여 공지합니다.<br>
<br>
본 방침은 2014 년 11 월 5일부터 시행됩니다.</p>

  <h3>제 2조 수집하는 개인정보 항목</h3>
  <p>회사는 회원가입, 상담, 서비스 신청 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br>
① 필수 : 이메일 주소, 비밀번호, 접속 로그<br>
② 선택 : 이름, 소속, 연락처, 쿠키<br>
회사는 아래와 같은 방법으로 개인정보를 수집합니다.<br>
① 웹 사이트 회원 가입 및 회원정보 수정 : 이메일 주소, 비밀번호, 이름, 소속, 연락처<br>
② 웹 사이트 이용 간 자동으로 수집 : 접속 로그, 쿠키<br></p>

  <h3>제 3조 개인정보의 수집 및 이용목적</h3>
  <p>회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.<br>
① 서비스 제공에 관한 계약 이행<br>
② 회원제 서비스 이용에 따른 본인확인, 불량회원의 부정 이용 방지와 비인가 사용 방지<br>
③ 불만처리 등 민원처리<br>
④ 고지사항<br></p>

  <h3>제 4조 개인정보의 보유 및 이용기간</h3>
  <p>원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.<br>
<br>
보존 항목 : 부정이용에 관한 기록<br>
보존 근거 : 부정이용 방지<br>
보존 기간 : 1년<br>
<br>
보존 항목 : 웹 사이트 방문에 관한 기록<br>
보존 근거 : 통신비밀보호법<br>
보존기간 : 3개월<br>
<br>
보존 항목 : 소비자의 불만 또는 분쟁처리에 관한 기록<br>
보존 근거 : 전자상거래등에서의 소비자보호에 관한 법률<br>
보존 기간 : 3년<br>
<br>
보존 항목 : 계약 또는 청약철회 등에 관한 기록<br>
보존 근거 : 전자상거래등에서의 소비자보호에 관한 법률<br>
보존 기간 : 5년<br>
<br>
보존 항목 : 대금결제 및 재화 등의 공급에 관한 기록<br>
보존 근거 : 전자상거래등에서의 소비자보호에 관한 법률<br>
보존 기간 : 5년<br></p>

  <h3>제 5조 개인정보의 파기절차 및 방법</h3>
  <p>회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.<br>
① 파기절차<br>
회원이 회원가입 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다.<br>
별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.<br>
② 파기방법<br>
전자적 파일 및 DB에 저장된 기록을 재생할 수 없도록 삭제합니다.<br></p>

  <h3>제 6조 개인정보 제공</h3>
  <p>회사는 회원의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.<br>
① 회원이 사전에 동의한 경우<br>
② 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br>
③ 서비스의 제공에 관한 계약의 이행을 위하여 필요한 개인정보로서 경제적/기술적인 사유로 통상의 동의를 받는 것이 현저히 곤란한 경우<br>
④ 통계작성/학술연구나 시장조사를 위하여 특정 개인을 식별할 수 없는 형태로 광고주/협력사나 연구단체 등에 제공하는 경우<br></p>

  <h3>제 7조 회원 및 법정대리인의 권리와 그 행사방법</h3>
  <p>회원 및 그 법정 대리인은 언제든지 등록되어 있는 회원의 개인정보를 조회하거나 수정할 수 있으며 가입해지를 요청할 수도 있습니다. 개인정보 조회 및 수정을 위해서는 웹 사이트에서 "회원정보변경"을, 가입해지(동의철회)를 위해서는 "회원탈퇴"를 클릭하여 직접 열람, 정정 또는 탈퇴가 가능합니다. 혹은 고객센터, 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하여 수정 또는 가입해지를 요청할 수 있습니다. 회원이 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지합니다. 회사는 회원 또는 그 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 본 개인정보취급방침의 "개인정보의 보유 및 이용기간"에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용하지 않습니다.</p>

  <h3>제 8조 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항</h3>
  <p>회사는 회원에 대한 정보를 저장하고 수시로 찾아내는 '쿠키(cookie)'를 사용합니다. 쿠키는 웹사이트가 회원의 컴퓨터 브라우저(넷스케이프, 인터넷 익스플로러 등)로 전송하는 소량의 정보입니다. 회원께서 웹사이트에 접속을 하면 회사의 컴퓨터는 회원의 브라우저에 있는 쿠키의 내용을 읽고, 회원의 추가정보를 회원의 컴퓨터에서 찾아 접속에 따른 아이디 등의 추가 입력 없이 서비스를 제공할 수 있습니다. 쿠키는 회원의 컴퓨터는 식별하지만 회원을 개인적으로 식별하지는 않습니다. 또한 회원은 쿠키에 대한 선택권이 있습니다. 웹브라우저 상단의 도구 > 인터넷옵션 탭(option tab)에서 모든 쿠키를 다 받아들이거나, 쿠키가 설치될 때 통지를 보내도록 하거나, 아니면 모든 쿠키를 거부할 수 있는 선택권을 가질 수 있습니다.</p>

  <h3>제 9조 개인정보의 기술적/관리적 보호 대책</h3>
  <p>회사는 회원의 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적 관리적 대책을 마련하고 있습니다.<br>
① 개인정보는 비밀번호에 의해 보호되며, 비밀번호는 암호화하여 저장되어 본인 외에는 비밀번호를 알 수 없습니다. 중요한 데이터는 파일 및 전송데이터를 암호화하거나 파일 잠금 기능 (Lock)을 사용하는 등 별도 보안기능을 통해 보호되고 있습니다.<br>
② 네트워크상의 개인정보를 안전하게 전송할 수 있도록 보안장치(SSL)를 채택하고 있습니다.<br>
③ 해킹 등에 의해 개인정보가 유출되는 것을 방지하기 위해, 외부로부터 접근이 통제된 구역에 시스템을 설치하고 침입을 차단하는 장치를 이용하고 있습니다.<br>
④ 회사의 개인정보관련 취급 직원은 담당자에 한정하여 최소화하고 있습니다.<br></p>

  <h3>제 10조 개인정보에 관한 민원서비스</h3>
  <p>회사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 개인정보관리책임자를 지정하고 있습니다.<br>
<br>
개인정보관리 책임 및 담당자<br>
성명 : 이민혁<br>
소속 : 알알게임즈 개발자<br>
이메일 : intoarena@gmail.com<br>
<br>
회원이 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. 회사는 회원의 신고사항에 대해 신속하게 충분한 답변을 드리겠습니다.<br>
<br>
기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br>
① 개인정보침해신고센터 (www.1336.or.kr/국번없이 118)<br>
② 정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)<br>
③ 대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/02-3480-3600)<br>
④ 경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)<br></p>

  <h3>제 11조 정책 변경에 따른 공지의무</h3>
  <p>법령 정책 또는 보안기술의 변경에 따라 내용의 추가 삭제 및 수정이 있을 시에는 변경되는 개인정보취급방침을 시행하기 최소 7일전에 웹 사이트 초기화면 또는 초기화면에 링크를 통해 변경이유 및 내용 등을 공지하도록 하겠습니다.</p>
</blockquote>
</div>

</div>


</div>
<footer>
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-4">
        <a class="footer-brand" href="index.html">RankaaS.io</a>
        <p>인디게임 개발자분들을 위한 게임 백엔드 서비스입니다. 고객님의 말씀은 언제나 귀기울일 수 있는 RankaaS.io가 되겠습니다. 감사합니다.</p>
        <ul class="list-inline list-unstyled social-networks">
          <li>
            <a href="#">
              <div class="icon-social icon-social-facebook normal">
                <i class="fa fa-facebook"></i>
              </div>
              <div class="icon-social hover">
                <i class="fa fa-facebook"></i>
              </div>
            </a>
          </li>

          <li>
            <a href="#">
              <div class="icon-social icon-social-twitter normal">
                <i class="fa fa-twitter"></i>
              </div>
              <div class="icon-social hover">
                <i class="fa fa-twitter"></i>
              </div>
            </a>
          </li>

        </ul>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3>CONTACT</h3>
        <address>
          <i class="fa fa-map-marker"></i> 서울특별시 강남구 테헤란로 아남타워빌딩 7층 소프트웨어 마에스트로 연수센터<br>
          <i class="fa fa-phone"></i> +82 10 2748 2522<br>
          <i class="fa fa-envelope"></i> admin@rankaas.io
        </address>
      </div>

      <div class="col-lg-4 col-md-4">
        <h3>LATEST NEWS</h3>
        <ul class="latest-tweets">
          <li>
            <i class="fa fa-pencil"></i> <%= @news[0] %>
          </li>
          <li>
            <i class="fa fa-pencil"></i> <%= @news[1] %>
          </li>
        </ul>
      </div>

    </div><!-- /.row -->

  </div><!-- /.container -->
</footer>

    <div class="footer-after">
      <div class="container">
        <div class="row">
          <p class="col-md-9">© 2014 RankaaS.io All rights reserved.</p>
          <p class="col-md-3 legal"><a href="/agreement" rel="nofollow">이용약관</a> | <a href="/privacy" rel="nofollow">개인정보취급방침</a></p>

        </div><!-- /.row -->
      </div>
    </div>





  </body>
</html>
