<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RankaaS - 인디게임 개발자분을 위한 게임 백엔드 서비스</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Fonts from Font Awsome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- Fonts -->

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <!-- Morris  -->
    <link rel="stylesheet" href="/assets/plugins/morris/css/morris.css">

    <!-- Feature detection -->
     <script src="/assets/js/modernizr-2.6.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    </head>
    <body class="animated fadeIn">
    <section id="container">
          <header id="header">
            <!--logo start-->
            <div class="brand">
              <a href="/" class="logo"><span>RankaaS</span>.io</a>
            </div>
            <!--logo end-->
            <div class="toggle-navigation toggle-left">
              <div class="btn-group">
                <button type="button" class="btn btn-default" id="toggle-left" data-toggle="tooltip" data-placement="right" title="Toggle Navigation">
                    <i class="fa fa-bars"></i>
                </button>
              </div>
              <div class="btn-group">
                <% if @app == nil %>
                <button class="btn btn-info">Application</button>
                <% else %>
                <button class="btn btn-info"><%= @app.name %></button>
                <% end %>
                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu animated fadeInDown" role="menu">
                    <% @apps.each do |app| %>
                    <li>
                      <a href="/@<%= @user.username%>/apps/<%= app.name %>/"><%= app.name %></a>
                    </li>
                    <% end %>
                    <li class="divider"></li>
                    <li>
                        <a href="/@<%= @user.username%>/apps/new"><i class="fa fa-plus"></i> New Application</a>
                    </li>
                </ul>
              </div>
            </div>
            <div class="user-nav">
                <ul>

                    <li class="profile-photo">
                        <img src="/assets/img/avatar.png" alt="" class="img-circle">
                    </li>
                    <li class="dropdown settings">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <%= @user.name %> <i class="fa fa-angle-down"></i>
                    </a>
                      <ul class="dropdown-menu animated fadeInDown">
                          <li>
                              <a href="#"><i class="fa fa-user"></i> Profile</a>
                          </li>
                          <li>
                              <a href="/logout"><i class="fa fa-power-off"></i> Logout</a>
                          </li>
                      </ul>
                    </li>
                </ul>
            </div>
        </header>
        <!--sidebar start-->
      <aside class="sidebar">
            <div id="leftside-navigation" class="nano">
                <ul class="nano-content">
                    <li class="sub-menu">
                        <a href="/@<%= @user.username%>/apps/"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
                    </li>
                    <li class="sub-menu">
                        <a href="/@<%= @user.username%>/apps/<%= @app.name %>/"><i class="fa fa-info"></i><span>Info</span></a>
                    </li>
                    <li class="sub-menu">
                        <a href="#"><i class="fa fa-group"></i><span>User Manager</span></a>
                    </li>
                    <li class="sub-menu">
                        <a href="dataconsole"><i class="fa fa-desktop"></i><span>Data Console</span></a>
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-cog"></i><span>Setting</span></a>
                    </li>

                </ul>
            </div>

        </aside>
         <!--sidebar end-->
         <!--main content start-->
         <section class="main-content-wrapper">
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <ul class="breadcrumb">
                            <li><a href="#">Dashboard</a>
                            </li>
                            <li class="active">Setting</li>
                        </ul>
                        <!--breadcrumbs end -->
                       <h1 class="h1">Application Edit</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">EDIT</h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                            <form id="edit_app" action="/@<%= @user.username %>/apps/<%= @app.name %>" method="post" class="form-horizontal form-border">
                               <input type="hidden" name="_method" value="patch" />
                              <div class="form-group">
                                  <label class="col-sm-3 control-label">Application Name</label>
                                  <div class="col-sm-6">
                                      <input name="app[name]" type="text" class="form-control" value="<%= @app.name %>" readonly>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-3 control-label">Application Description</label>
                                  <div class="col-sm-6">
                                      <textarea name="app[description]" class="form-control"><%= @app.description %></textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-3 control-label"> HomePage</label>
                                  <div class="col-sm-6">
                                      <input class="form-control" name="app[url]" value="<%= @app.url %>">
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label class="col-sm-3 control-label"> Google Play URL</label>
                                  <div class="col-sm-6">
                                      <input class="form-control" name="app[google_url]" value="<%= @app.google_url %>">
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label class="col-sm-3 control-label"> Apple AppStore URL</label>
                                  <div class="col-sm-6">
                                      <input class="form-control" name="app[apple_url]" value="<%= @app.apple_url %>">
                                  </div>
                              </div>
                              <div class="pull-right">
                                <button type="submit" class="btn btn-success btn-lg">편집</button>
                                <button class="btn btn-danger btn-lg">취소</button>
                              </div>
                            </from>

                          </div>
                        </div>
                      </div>
                    </div>

             </section>
         </section>
         <!--main content end-->
    </section>
     <!--Global JS-->
    <script src="/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/waypoints/waypoints.min.js"></script>
    <script src="/assets/js/application.js"></script>
    <script src="/assets/plugins/validation/js/jquery.validate.min.js"></script>
    <script>
    jQuery.validator.addMethod("noSpace", function(value, element) {
     return value.indexOf(" ") < 0 && value != "";
   }, "Space are not allowed");


    $('#edit_app').validate({
      rules: {
           "app[name]" : { required : true, noSpace: true, minlength: 5 },
           "app[description]"  : { required : true, minlength: 5 },
           "app[google_url]" : { url : true },
           "app[apple_url]" : { url : true },
           "app[url]" : { url : true }

       },
       highlight: function(element) {
                   $(element).parent().find("label").removeClass("hide").closest('.form-group').removeClass('has-success').addClass('has-error has-feedback');
          $(element).parent().find("span").remove();
            },
         success: function(element) {
           element.addClass('valid hide').closest('.form-group').removeClass('has-error').addClass('has-success has-feedback');
            element.parent().append('<span class="glyphicon glyphicon-ok form-control-feedback"></span>')
              },


     });
</script>
    </body>

</html>
