<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RankaaS - 인디게임 개발자분을 위한 게임 백엔드 서비스</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Fonts from Font Awsome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- Vector Map  -->
    <link rel="stylesheet" href="/assets/plugins/jvectormap/css/jquery-jvectormap-1.2.2.css">
    <!-- ToDos  -->
    <link rel="stylesheet" href="/assets/plugins/todo/css/todos.css">
    <!-- Morris  -->
    <link rel="stylesheet" href="/assets/plugins/morris/css/morris.css">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Feature detection -->
    <script src="/assets/js/modernizr-2.6.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="animated fadeIn">
    <section id="container">
        <header id="header">
            <!--logo start-->
            <div class="brand">
                <a href="/" class="logo"><span>RankaaS</span>.io</a>
            </div>
            <!--logo end-->
            <div class="toggle-navigation toggle-left">
              <div class="btn-group">
                <button type="button" class="btn btn-default" id="toggle-left" data-toggle="tooltip" data-placement="right" title="Toggle Navigation">
                    <i class="fa fa-bars"></i>
                </button>
              </div>
              <div id="apps_group" class="btn-group">
                <% if @apps.size <= 0 %>
                <a href="/@<%= @user.username%>/apps/new" class="btn btn-info"><i class="fa fa-plus"></i> New Application</a>
                <% else %>
                <button id="selected_app" class="btn btn-info"><%= @apps[0].name %></button>
                <% end %>
                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu animated fadeInDown" role="menu">
                    <% @apps.each do |app| %>
                    <li>
                      <a id="<%= app.name %>"><%= app.name %></a>
                    </li>
                    <% end %>
                    <li class="divider"></li>
                    <li>
                        <a href="/@<%= @user.username%>/apps/new"><i class="fa fa-plus"></i> New Application</a>
                    </li>
                </ul>
              </div>
            </div>
            <div class="user-nav">
                <ul>
                    <li class="profile-photo">
                        <img src="/assets/img/avatar.png" alt="" class="img-circle">
                    </li>
                    <li class="dropdown settings">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <%= @user.name %> <i class="fa fa-angle-down"></i>
                    </a>
                      <ul class="dropdown-menu animated fadeInDown">
                          <li>
                              <a href="#"><i class="fa fa-user"></i> Profile</a>
                          </li>
                          <li>
                              <a href="/logout"><i class="fa fa-power-off"></i> Logout</a>
                          </li>
                      </ul>
                    </li>
                </ul>
            </div>
        </header>
        <!--sidebar left start-->
        <aside class="sidebar">
            <div id="leftside-navigation" class="nano">
                <ul class="nano-content">
                    <li class="active">
                        <a href="/@<%= @user.username%>/apps/"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
                    </li>
                    <% if @apps.size > 0 %>

                    <li class="sub-menu">
                        <a id="nav_info" href="/@<%= @user.username%>/apps/<%= @apps[0].name %>/"><i class="fa fa-info"></i><span>Info</span></a>
                    </li>
                    <li class="sub-menu">
                        <a id="nav_user" href="/@<%= @user.username%>/apps/<%= @apps[0].name %>/"><i class="fa fa-group"></i><span>User Manager</span></a>
                    </li>
                    <li class="sub-menu">
                        <a id="nav_data" href="/@<%= @user.username%>/apps/<%= @apps[0].name %>/dataconsole"><i class="fa fa-desktop"></i><span>Data Console</span></a>
                    </li>
                    <li class="sub-menu">
                        <a id="nav_setting" href="/@<%= @user.username%>/apps/<%= @apps[0].name %>/edit"><i class="fa fa-cog"></i><span>Setting</span></a>
                    </li>
                    <% end %>s
                </ul>
            </div>
        </aside>
        <!--sidebar left end-->
        <!--main content start-->
        <section class="main-content-wrapper">
          <% if @apps.size <= 0 %>
          <% else %>
            <section id="main-content">
                <!--tiles start-->
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="dashboard-tile detail tile-red">
                            <div class="content">
                              <h1 id="user_count"><%= @user_count[@apps[0].name] %> Ea</h1>
                                <p>Registered users</p>
                            </div>
                            <div class="icon"><i class="fa fa-users"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="dashboard-tile detail tile-turquoise">
                            <div class="content">
                                <h1 id="api_call"><%= @query_count[@apps[0].name] %> Calls</h1>
                                <p>API Calls</p>
                            </div>
                            <div class="icon"><i class="fa fa-comments"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="dashboard-tile detail tile-blue">
                            <div class="content">
                              <h1>0 Byte</h1>
                                <p>Network Outbound</p>
                            </div>
                            <div class="icon"><i class="fa fa fa-envelope"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tiles end-->
                <!--dashboard charts and map start-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">App Querys Count</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="call-chart" style="height: 250px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Registed User</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                              <div id="users-chart" style="height: 250px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--dashboard charts and map end-->
                <!--ToDo start-->
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">To do list</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input id="new-todo" type="text" class="form-control" placeholder="What needs to be done?">
                                            <section id='main'>
                                                <ul id='todo-list'></ul>
                                            </section>
                                        </div>
                                        <div class="form-group">
                                            <button id="todo-enter" class="btn btn-primary pull-right">Submit</button>
                                            <div id='todo-count'></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-8">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h3 class="panel-title">FeedBack</h3>
                              <div class="actions pull-right">
                                  <i class="fa fa-chevron-down"></i>
                                  <i class="fa fa-times"></i>
                              </div>
                          </div>
                          <div class="panel-body">
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <textarea class="form-control" placeholder="불편하신 점이 있으시다면, 개선사항을 적어주세요."></textarea>
                                      </div>
                                      <div class="form-group">
                                          <button id="feedback_submit" class="btn btn-primary pull-right">Submit</button>
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>

                    </div>

                </div>
                <div class="row">
                  <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">User Report</h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="panel-body">
                          <p>DAU</p>

                        </div>
                    </div>

                  </div>
                </div>

                <!--ToDo end-->
            </section>
            <% end %>

        </section>
        <!--main content end-->
    </section>
    <!--Global JS-->
    <script src="/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/waypoints/waypoints.min.js"></script>
    <script src="/assets/js/application.js"></script>
    <!--Page Level JS-->
    <script src="/assets/plugins/countTo/jquery.countTo.js"></script>
    <script src="/assets/plugins/weather/js/skycons.js"></script>
    <!-- Morris  -->
    <script src="/assets/plugins/morris/js/morris.min.js"></script>
    <script src="/assets/plugins/morris/js/raphael.2.1.0.min.js"></script>
    <!-- Vector Map  -->
    <script src="/assets/plugins/jvectormap/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/assets/plugins/jvectormap/js/jquery-jvectormap-world-mill-en.js"></script>
    <!-- ToDo List  -->
    <script src="/assets/plugins/todo/js/todos.js"></script>
    <!--Load these page level functions-->
    <script>
    var apps = {}
      <% @apps.each do |app| %>
        apps["<%= app.name %>"] = { key  : "<%= app.app_key %>", query_count : <%= @query_count[app.name]%>, user_count : <%= @user_count[app.name]%> }
      <% end %>

        $("#apps_group ul li").each(function(i){
            $(this).on("click", function() {
              var select_app = $(this).children().attr("id");
              console.log($(this).children().attr("id"));
              $("#selected_app").text(select_app);
              $("#nav_info").attr("href", "/@<%= @user.username %>/apps/"+select_app+"/");
              $("#nav_user").attr("href", "/@<%= @user.username %>/apps/"+select_app+"/");
              $("#nav_data").attr("href", "/@<%= @user.username %>/apps/"+select_app+"/dataconsole");
              $("#nav_setting").attr("href", "/@<%= @user.username %>/apps/"+select_app+"/edit");
              $("#api_call").text(apps[select_app].query_count + " Calls")
              $("#user_count").text(apps[select_app].user_count + " Ea")

               ChartDraw(apps[select_app].key);

            });
        });


        $(document).ready(function() {
          var Selected_App_Name = "";

          $("#feedback_submit").click(function() {
            $.ajax({type : "GET", url : "./feedback?data=" + $("#feedback_data").val(), async : false})
          })
          <% if @apps.size > 0 %>
            ChartDraw("<%= @apps[0].app_key %>")
          <% end %>

        });

function ChartDraw(app_key)
{

        var query_chart_data = []
    var user_chart_data = []

    $.ajax({type : "GET", url : "../apps_log?app_key="+app_key, async : false, success : function(data) {
      if (data["result"].length > 10){
        for (i = 0; i < 10; i++){
          query_chart_data.push({ y : data["result"][data["result"].length - 10 + i]["Date"], a : data["result"][data["result"].length - 10 + i]["query_count"]});
    user_chart_data.push({ y : data["result"][data["result"].length - 10 + i]["Date"], a : data["result"][data["result"].length - 10 + i]["user_count"]});

    }  } else {
        for (i in data["result"]){
           query_chart_data.push({ y : data["result"][i]["Date"], a : data["result"][i]["query_count"]});
           user_chart_data.push({ y : data["result"][i]["Date"], a : data["result"][i]["user_count"]});
    }

      }
     }});
     $("#call-chart").empty();
     $("#users-chart").empty();

      Morris.Bar({
        element: 'call-chart',
        data: query_chart_data,
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Query'],
        xlabels : "day",
         resize : true,
         hideHover:'auto',

       });
       Morris.Line({
         element: 'users-chart',
         data: user_chart_data,
         xkey: 'y',
         ykeys: ['a'],
         labels: ['User'],
         xlabels : "day",
          resize : true,
          hideHover:'auto',

        });



}
    </script>
 </body>

</html>



        <!--
        <div id="page-wrapper" >
            <div id="page-inner">

                <div class="row">
                    <div class="col-md-12">
                     <h1>Dashboard</h1>
                     <p><%= @user.name %>님 환영합니다. 이곳에서 애플리케이션들의 정보를 한눈에 관리하세요.</p>
                     </div>
                </div>
<hr/>
                   <div>
<% if @apps.size > 0 %>
                  <div class="col-md-3">

                    <div class="panel panel-default">
                <div class="panel-heading">
                 </div>
                <div class="panel-body">

                    <% @apps.each do |app| %>
                      <a href="/@<%= @user.username%>/apps/<%= app.name %>"><%= app.name %></a><br>
                    <% end %>



                </div>
            </div>
        </div>

<div class="col-md-9">
  <div class="panel panel-default">
<div class="panel-heading">
<label class="panel-title">사용량</label>
</div>
  <div class="panel-body">
  <div class="progress progress-striped active">

  </div>
</div>
   </div>

</div>
</div>
<hr/>
<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-heading">
<label class="panel-title">피드백</label>
</div>
<div class="panel-body">
<textarea id="feedback_data" class="form-control" rows="3" placeholder="개선사항을 적어주세요."></textarea>
<br>
<button id="feedback_submit" type="submit" class="btn btn-primary pull-right">전달</button></div>
</div>


</div>
<% else %>
 <div class="col-md-12">
   <h3>아직 생성된 애플리케이션이 없으시군요! 지금 생성해보시는건 어떨까요?</h3><br>
  <a href="/@<%= @user.username%>/apps/new" class="btn btn-success btn-lg ">애플리케이션 만들기</a>
  </div>

<% end %>

    </div>
             <!-- /
            </div>

. PAGE INNER  -->
