<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RankaaS - 인디게임 개발자분을 위한 게임 백엔드 서비스</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Fonts from Font Awsome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Feature detection -->
     <script src="/assets/js/modernizr-2.6.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    </head>
    <body class="animated fadeIn">
    <section id="container">
          <header id="header">
            <!--logo start-->
            <div class="brand">
                <a href="/" class="logo"><span>RankaaS</span>.io</a>

            </div>
            <!--logo end-->
            <div class="toggle-navigation toggle-left">
              <div class="btn-group">
                <button type="button" class="btn btn-default" id="toggle-left" data-toggle="tooltip" data-placement="right" title="Toggle Navigation">
                    <i class="fa fa-bars"></i>
                </button>
              </div>
                        </div>
            <div class="user-nav">
                <ul>

                    <li class="profile-photo">
                        <img src="/assets/img/avatar.png" alt="" class="img-circle">
                    </li>
                    <li class="dropdown settings">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <%= @user.name %> <i class="fa fa-angle-down"></i>
                    </a>
                      <ul class="dropdown-menu animated fadeInDown">
                          <li>
                              <a href="#"><i class="fa fa-user"></i> Profile</a>
                          </li>
                          <li>
                              <a href="/logout"><i class="fa fa-power-off"></i> Logout</a>
                          </li>
                      </ul>
                    </li>
                </ul>
            </div>
        </header>
        <!--sidebar start-->
      <aside class="sidebar sidebar-toggle">
            <div id="leftside-navigation" class="nano">
                <ul class="nano-content">
                    <li class="active">
                        <a href="/@<%= @user.username%>/apps/"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
                    </li>

                </ul>
            </div>

        </aside>
         <!--sidebar end-->
         <!--main content start-->
         <section class="main-content-wrapper main-content-toggle-left">
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <ul class="breadcrumb">
                            <li><a href="">Dashboard</a>
                            </li>
                            <li class="active">New Application</li>
                        </ul>
                        <!--breadcrumbs end -->
                       <h1 class="h1">New Application</h1>
                    </div>

                </div>

  <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">New Application Wizard</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <section class="fuelux">
                                    <div id="MyWizard" class="wizard">
                                        <ul class="steps">
                                            <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Step 1<span class="chevron"></span>
                                            </li>
                                            <li data-target="#step2"><span class="badge">2</span>Step 2<span class="chevron"></span>
                                            </li>
                                        </ul>
                                        <div class="actions">
                                            <button type="button" class="btn btn-default btn-mini btn-prev"> <i class="fa fa-chevron-left"></i> Prev</button>
                                            <button type="button" class="btn btn-primary btn-mini btn-next" data-last="Finish">Next <i class="fa fa-chevron-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="step-content">
                                      <form action="/@<%= @user.username %>/apps" class="form-horizontal" name="new_app" id="new_app" method="post">

                                        <div class="step-pane active" id="step1">
                                                <div class="form-group">
                                                    <div class="col-sm-3">
                                                        <h2 class="title">Application Info</h2>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Name</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" name="app[name]" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Description</label>
                                                    <div class="col-sm-6">
                                                      <textarea name="app[description]" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Icon</label>
                                                    <div class="col-sm-6">
                                                        <input type="file" class="form-control">
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="step-pane" id="step2">
                                                <div class="form-group">
                                                    <div class="col-sm-3">
                                                        <h2 class="title">Platform</h2>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Homepage URL</label>
                                                    <div class="col-sm-6">
                                                        <input id="app[url]" name="app[url]" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Google AppStore URL</label>
                                                    <div class="col-sm-6">
                                                      <input id="app[google_url]" name="app[google_url]" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Apple AppStore URL</label>
                                                    <div class="col-sm-6">
                                                        <input name="app[apple_url]" type="text" class="form-control">
                                                    </div>
                                                </div>
                                        </div>


</form>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
         </section>
         <!--main content end-->
    </section>
<!--Global JS-->

<script src="/assets/js/jquery-1.10.2.min.js"></script>

<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/plugins/waypoints/waypoints.min.js"></script>
<script src="/assets/js/application.js"></script>

<script src="/assets/plugins/icheck/js/icheck.min.js"></script>
<script src="/assets/plugins/validation/js/jquery.validate.min.js"></script>

<script src="/assets/plugins/wizard/js/loader.min.js"></script>

 <script>
   jQuery.validator.addMethod("noSpace", function(value, element) {
    return value.indexOf(" ") < 0 && value != "" && value.indexOf(".") < 0 && value.indexOf("/") < 0 && value.indexOf("\\") < 0;
  }, "don't include Not allowed charactor");

    $(document).ready(function() {
      $('#MyWizard').wizard().on('finished', function(e, data) {
        if ($('#new_app').valid())
          $("#new_app").submit();
      });

      $('#new_app').validate({
        rules: {
             "app[name]" : { required : true, noSpace: true, minlength: 5 },
             "app[description]"  : { required : true, minlength: 5 },
             "app[google_url]" : { url : true },
             "app[apple_url]" : { url : true },
             "app[url]" : { url : true }

         },
         highlight: function(element) {
                     $(element).parent().find("label").removeClass("hide").closest('.form-group').removeClass('has-success').addClass('has-error has-feedback');
            $(element).parent().find("span").remove();
              },
           success: function(element) {
             element.addClass('valid hide').closest('.form-group').removeClass('has-error').addClass('has-success has-feedback');
              element.parent().append('<span class="glyphicon glyphicon-ok form-control-feedback"></span>')
                },


       });



    });
</script>

    </body>
</html>
