<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RankaaS - 인디게임 개발자분을 위한 게임 백엔드 서비스</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Fonts from Font Awsome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- Fonts -->

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <!-- Morris  -->
    <link rel="stylesheet" href="/assets/plugins/morris/css/morris.css">

    <!-- Feature detection -->
     <script src="/assets/js/modernizr-2.6.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    </head>
    <body class="animated fadeIn">
    <section id="container">
          <header id="header">
            <!--logo start-->
            <div class="brand">
                <a href="/" class="logo"><span>RankaaS</span>.io</a>

            </div>
            <!--logo end-->
            <div class="toggle-navigation toggle-left">
              <div class="btn-group">
                <button type="button" class="btn btn-default" id="toggle-left" data-toggle="tooltip" data-placement="right" title="Toggle Navigation">
                    <i class="fa fa-bars"></i>
                </button>
              </div>
              <div class="btn-group">
                <% if @app == nil %>
                <button class="btn btn-info">Application</button>
                <% else %>
                <button class="btn btn-info"><%= @app.name %></button>
                <% end %>
                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu animated fadeInDown" role="menu">
                    <% @apps.each do |app| %>
                    <li>
                      <a href="/@<%= @user.username%>/apps/<%= app.name %>/"><%= app.name %></a>
                    </li>
                    <% end %>
                    <li class="divider"></li>
                    <li>
                        <a href="/@<%= @user.username%>/apps/new"><i class="fa fa-plus"></i> New Application</a>
                    </li>
                </ul>
              </div>
            </div>
            <div class="user-nav">
                <ul>

                    <li class="profile-photo">
                        <img src="/assets/img/avatar.png" alt="" class="img-circle">
                    </li>
                    <li class="dropdown settings">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <%= @user.name %> <i class="fa fa-angle-down"></i>
                    </a>
                      <ul class="dropdown-menu animated fadeInDown">
                          <li>
                              <a href="#"><i class="fa fa-user"></i> Profile</a>
                          </li>
                          <li>
                              <a href="/logout"><i class="fa fa-power-off"></i> Logout</a>
                          </li>
                      </ul>
                    </li>
                </ul>
            </div>
        </header>
        <!--sidebar start-->
      <aside class="sidebar">
            <div id="leftside-navigation" class="nano">
                <ul class="nano-content">
                    <li class="sub-menu">
                        <a href="/@<%= @user.username%>/apps/"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-info"></i><span>Info</span></a>
                    </li>
                    <li class="sub-menu">
                        <a href="#"><i class="fa fa-group"></i><span>User Manager</span></a>
                    </li>
                    <li class="sub-menu">
                        <a href="dataconsole"><i class="fa fa-desktop"></i><span>Data Console</span></a>
                    </li>
                    <li class="sub-menu">
                        <a href="edit"><i class="fa fa-cog"></i><span>Setting</span></a>
                    </li>

                </ul>
            </div>

        </aside>
         <!--sidebar end-->
         <!--main content start-->
         <section class="main-content-wrapper">
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <ul class="breadcrumb">
                            <li><a href="#">Dashboard</a>
                            </li>
                            <li class="active">Info</li>
                        </ul>
                        <!--breadcrumbs end -->
                       <h1 class="h1">Application Info</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Summary</h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                            <div class="col-md-12">
                              <label class="label label-info pull-right">Game</label>
                              <img align="left" src="/app_icon.png"/>  <h2 style="margin: 20px 0 0 120px;"><%= @app.name %></h2> <h4 style="margin: 10px 0 0 120px;"><%= @app.description %></h4>


                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">Access Point</h3>
                          <div class="actions pull-right">
                              <i class="fa fa-chevron-down"></i>
                              <i class="fa fa-times"></i>
                          </div>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                      <label class="col-sm-3 control-label">App Key</label>
                                      <div class="col-sm-9">
                                        <input type="text" readonly="readonly" class="form-control" value="<%= @app.app_key %>">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-3 control-label">User Id</label>
                                      <div class="col-sm-9">
                                        <input type="text" readonly="readonly" class="form-control" value="<%= @user.api_key %>">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-3 control-label">API EndPoint</label>
                                      <div class="col-sm-9">
                                        <input type="text" readonly="readonly" class="form-control" value="https://rankaas.io:4785/<%= @user.api_key %>/<%= @app.app_key %>">
                                      </div>
                                  </div>
                            </form>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Admin Key</h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                            <form class="form-horizontal">
                              <div class="form-group">
                              <label class="col-md-3 control-label">App Sceret</label>
                              <div class="col-md-8">
                                <input type="text" readonly="readonly" class="form-control" value="<%= @app.app_secret %>">
                              </div>
                            </div>
                           </div>
                        </div>
                      </div>

                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">User Graph</h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                            <div id="user_graph_area" style="height: 250px;"></div>
                           </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">Query Count Graph</h3>
                              <div class="actions pull-right">
                                  <i class="fa fa-chevron-down"></i>
                                  <i class="fa fa-times"></i>
                              </div>
                            </div>
                            <div class="panel-body">
                              <div id="query_graph_area" style="height: 250px;"></div>
                             </div>
                          </div>
                        </div>

                  </div>

            </section>
         </section>
         <!--main content end-->
    </section>
     <!--Global JS-->
    <script src="/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/waypoints/waypoints.min.js"></script>
    <script src="/assets/js/application.js"></script>
        <!--Page Leve JS -->
    <script src="/assets/plugins/morris/js/morris.min.js"></script>
    <script src="/assets/plugins/morris/js/raphael.2.1.0.min.js"></script>

    </body>
    <script type="text/javascript">
      $(document).ready(function() {

        var query_chart_data = []
    var user_chart_data = []

    $.ajax({type : "GET", url : "../../apps_log?app_key=<%= @app.app_key %>", async : false, success : function(data) {
      if ( data["result"].length > 20){
        for (i = 0; i < 20; i++){
          query_chart_data.push({ y : data["result"][data["result"].length - 20 + i]["Date"], a : data["result"][data["result"].length - 20 + i]["query_count"]});
    user_chart_data.push({ y : data["result"][data["result"].length - 20 + i]["Date"], a : data["result"][data["result"].length - 20 + i]["user_count"]});

    }  } else {
        for (i in data["result"]){
           query_chart_data.push({ y : data["result"][i]["Date"], a : data["result"][i]["query_count"]});
           user_chart_data.push({ y : data["result"][i]["Date"], a : data["result"][i]["user_count"]});
    }

      }
     }});

      Morris.Bar({
        element: 'query_graph_area',
        data: query_chart_data,
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Query'],
        xlabels : "day",
         resize : true,
         hideHover:'auto',
       });

       Morris.Line({
         element: 'user_graph_area',
         data: user_chart_data,
         xkey: 'y',
         ykeys: ['a'],
         labels: ['User'],
         xlabels : "day",
          resize : true,
          hideHover:'auto',
        });





    });

    </script>

</html>
