<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>RankaaS - 인디게임 개발자분을 위한 게임 백엔드 서비스</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Fonts from Font Awsome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- Fonts -->
<link rel="stylesheet" href="/assets/plugins/icheck/css/_all.css">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <!-- Morris  -->
    <link rel="stylesheet" href="/assets/plugins/morris/css/morris.css">

    <!-- Feature detection -->
     <script src="/assets/js/modernizr-2.6.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    </head>
    <body class="animated fadeIn">
    <section id="container">
          <header id="header">
            <!--logo start-->
            <div class="brand">
              <a href="/" class="logo"><span>RankaaS</span>.io</a>
            </div>
            <!--logo end-->
            <div class="toggle-navigation toggle-left">
              <div class="btn-group">
                <button type="button" class="btn btn-default" id="toggle-left" data-toggle="tooltip" data-placement="right" title="Toggle Navigation">
                    <i class="fa fa-bars"></i>
                </button>
              </div>
              <div class="btn-group">
                <button class="btn btn-info"><%= @app.name %></button>
                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu animated fadeInDown" role="menu">
                    <% @apps.each do |app| %>
                    <li>
                      <a href="/@<%= @user.username%>/apps/<%= app.name %>/dataconsole"><%= app.name %></a>
                    </li>
                    <% end %>
                    <li class="divider"></li>
                    <li>
                        <a href="/@<%= @user.username%>/apps/new"><i class="fa fa-plus"></i> New Application</a>
                    </li>
                </ul>
              </div>
            </div>
            <div class="user-nav">
                <ul>

                    <li class="profile-photo">
                        <img src="//assets/img/avatar.png" alt="" class="img-circle">
                    </li>
                    <li class="dropdown settings">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <%= @user.name %> <i class="fa fa-angle-down"></i>
                    </a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li>
                                <a href="#"><i class="fa fa-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="/logout"><i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <!--sidebar start-->
      <aside class="sidebar">
            <div id="leftside-navigation" class="nano">
                <ul class="nano-content">
                    <li class="sub-menu">
                        <a href="/@<%= @user.username%>/apps/"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
                    </li>
                    <li class="sub-menu">
                        <a href="/@<%= @user.username%>/apps/<%= @app.name %>/"><i class="fa fa-info"></i><span>Info</span></a>
                    </li>
                    <li class="sub-menu">
                        <a href="#"><i class="fa fa-group"></i><span>User Manager</span></a>
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-desktop"></i><span>Data Console</span></a>
                    </li>
                    <li class="sub-menu">
                        <a href="/@<%= @user.username%>/apps/<%= @app.name %>/edit"><i class="fa fa-cog"></i><span>Setting</span></a>
                    </li>

                </ul>
            </div>

        </aside>
         <!--sidebar end-->
         <!--main content start-->
         <section class="main-content-wrapper">
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <ul class="breadcrumb">
                            <li><a href="#">Dashboard</a>
                            </li>
                            <li class="active">DataConsole</li>
                        </ul>
                        <!--breadcrumbs end -->
                       <h1 class="h1">Data Console</h1>
                    </div>
                </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading"> API Executer<div class="actions pull-right">
            <i class="fa fa-chevron-down"></i>
        </div>

</div>
<div class="panel-body">
  <form class="form-horizontal">
    <div class="form-group">

<label class="col-sm-3 control-label">HTTP Method</label>
<div class="col-sm-6">
     <label class="radio-inline">
        <input class="icheck" type="radio" name="method">GET</label>
<label class="radio-inline">
    <input class="icheck" type="radio" name="method">POST</label>
<label class="radio-inline">
    <input class="icheck" type="radio" name="method">PATCH</label>
<label class="radio-inline">
    <input class="icheck" type="radio" name="method">DELETE</label>
</div>
 </div>
<div class="form-group">
<label class="col-sm-3 control-label">URL</label>
  <div class="col-sm-6">
    <input type="text" id="input-url" class="form-control" value="/users">
  </div>
</div>
<div class="form-group">
<label class="col-sm-3 control-label">Session Token</label>
  <div class="col-sm-6">
    <input type="text" id="input-token" class="form-control" value="{App Secret}">
  </div>
</div>

<div class="form-group" id="json_body_input">
<label class="col-sm-3 control-label">JSON Body</label>
  <div class="col-sm-6">
    <textarea id="input-json-body" type="text" class="form-control"></textarea>
  </div>
</div>
<div class="form-group">
<div class="col-sm-6 col-sm-offset-3">
 <button type="button" id="api_submit" class="btn btn-success pull-right" id="tooltip-top" data-toggle="tooltip" data-placement="left" title="API Executer는 준비중입니다."><i class="fa fa-edit"></i> Commit</button>
</div>
</div>


<hr>
<div class="form-group">
<label class="col-sm-3 control-label">Result</label>
  <div class="col-sm-6">
    <textarea id="input-result" type="text" class="form-control"></textarea>
  </div>
</div>

 </form>

</div>
</div>
</div>
</div>
<div class="row">
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading"> Collections
          <div class="actions pull-right">
              <i class="fa fa-chevron-down"></i>
          </div>
        </div>
        <div class="panel-body">
      <ul id="collectionsList" class="nav nav-pills-list nav-stacked">
      </ul>
      <hr/>
      <div class="text-center">
        <button id="btn_collection_new" class="btn btn-success btn-block"><i class="fa fa-edit "></i> Add</button>
        <button id="btn_collection_remove" class="btn btn-danger btn-block"><i class="fa fa-pencil "></i> Remove</button>
      </div>
    </div>
  </div>
    </div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div id="collectionTitle"></div>
          <div class="actions pull-right">
              <i class="fa fa-chevron-down"></i>
          </div>
        </div>
        <div class="panel-body">
            <button id="btn_object_modal_show" class="btn btn-default btn-sm"><i class="fa fa-plus "></i> Add Object</button>
            <span class="pull-right">
              <button id="btn_collection_edit" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i> Edit Collection</button>
              <button  class="btn btn-danger btn-sm"><i class="fa fa-eraser"></i> Remove All Object</button>
            </span>
          <hr/>

          <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
              <tr id="column_row" role="row">
              </tr>
            </thead>
            <tbody id="result_rows">
            </tbody>
          </table>

          <ul id="page_scroll" class="pagination pagination-sm pull-right">
          </ul>
        </div>
      </div>
</div>

  </div>

            </section>
         </section>
         <!--main content end-->
    </section>
    <div class="modal fade" id="addCollection" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="label_add_collection_modal_name">Add Collection</h4>
          </div>
          <form class="modal-body">

            <label>Collection Name</label>
            <div class="form-group">
            <input id="txt_collection_name" type="text" class="form-control" style="width: 60%;" placeholder="컬렉션 이름은 복수형 단어를 권장합니다." />
            <span class="help-block">첫 글자는 영문 대소문자이여야 하며, 공백을 포함할 수 없습니다.</span>
          </div>
            <hr/>
            <label>Propertise</label>
            <div id="propertise" style="width:60%">
              <input type="text" id="txt_collection_property0" class="form-control input-sm"  style="width: 60%; margin: 0 0 5px 0" placeholder="Name">
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-success pull-left" id="addProperty"><i class="glyphicon glyphicon-plus"></i> Property 추가</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-primary hide" id="collection_add_submit"><i class="glyphicon glyphicon-ok"></i> 확인</button>
            <button type="button" class="btn btn-primary hide" data-dismiss="modal" id="collection_edit_submit"><i class="glyphicon glyphicon-ok"></i> 확인</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="addObject" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="object_modal_name">Add Object</h4>
          </div>
          <div id="form_add_object" class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="object_add_submit"><i class="glyphicon glyphicon-ok"></i> 확인</button>
            <button type="button" class="btn btn-primary hide" data-dismiss="modal" id="object_edit_submit"><i class="glyphicon glyphicon-ok"></i> 확인</button>
          </div>
        </div>
      </div>
    </div>


     <!--Global JS-->
    <script src="/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/waypoints/waypoints.min.js"></script>
    <script src="/assets/js/application.js"></script>
        <!--Page Leve JS -->
    <script src="/assets/plugins/morris/js/morris.min.js"></script>
    <script src="/assets/plugins/morris/js/raphael.2.1.0.min.js"></script>
<script src="/assets/plugins/icheck/js/icheck.min.js"></script>

<script type="text/javascript">
function htmlEntityEnc(str){
    if(str == "" || str == null){
        return str;
    }
    else{
        return str.replace("&", "&amp;").replace("#", "&#35;").replace("<", "&lt;").replace(">", "&gt;").replace(/"/g, "&quot;").replace('\\', "&#39;").replace('%', "&#37;").replace('(', "&#40;").replace(')', "&#41;").replace('+', "&#43;").replace('/', "&#47;").replace('.', "&#46;");
    }
}


var selectCollection = "";

$(document).ready(function() {



  $("#api_submit").click(function() {

    $.ajax({
      type : "GET",
      url : "dataconsole/api?method=POST&url=" + $("#input-url").text() + "&token=" + $("#input-token").text() + "&body=" + ("#input-json-body").text(),
      async : false,
      success : function(data) {
        $("#input-result").text(data);
      }
    });
   })




$('input').iCheck({
    checkboxClass: 'icheckbox_flat-grey',
    radioClass: 'iradio_flat-grey'
});
 $('#tooltip-top').tooltip();


  $("#btn_collection_remove").click(function() {
    if (selectCollection == "")
      return;
    ajaxNonAsync("DELETE", "dataconsole/collections/" + selectCollection);
    GetCollectionList();
  });



      $("#btn_collection_edit").click(function() {
        if (selectCollection == "")
            return;
        $("#propertise").removeClass("has-error");

        $('#txt_collection_name').val(selectCollection);
        $('#txt_collection_name').attr("disabled", true);
        $('#label_add_collection_modal_name').text("Edit Collection");
        $("#propertise").empty();
        $("#collection_edit_submit").removeClass('hide');
        $("#collection_add_submit").addClass('hide');

        var scheme = getCollectionScheme(selectCollection);
        for (j in scheme) {
          $("#propertise").append('<div class="input-group input-group-sm"><input type="text" class="form-control" value='+scheme[j]+' disabled><span class="input-group-btn"><button class="btn btn-danger" type="button"><i class="fa fa-eraser"></i></button></span></div>');
        }
        $("#propertise button").click(function()
        {
          $(this).parent().parent().remove()
        });

        $('#addCollection').modal('show');
      });


  $("#btn_collection_new").click(function() {
    $("#propertise").removeClass("has-error");

    $('#txt_collection_name').val("");
    $('#txt_collection_name').removeAttr("disabled");
    $('#label_modal_name').text("Add Collection");
    $("#propertise").empty();
    $("#propertise").append('<div class="input-group input-group-sm"><input type="text" class="form-control" placeholder="Name"><span class="input-group-btn"><button class="btn btn-danger" type="button"><i class="fa fa-eraser"></i></button></span></div>');
    $("#collection_edit_submit").addClass('hide');
    $("#collection_add_submit").removeClass('hide');



    $('#addCollection').modal('show');
  });
});


function GetCollectionList()
{
$("#collectionsList").empty();

$.ajax({
type:"GET",
url:"dataconsole/collections",
dataType:"JSON",
success : function(data) {
  for(i in data["collections"])
  {
    var collectionName = data["collections"][i]["collectionName"];
    $("#collectionsList").append('<li name="' + collectionName + '" class="active"><a href=javascript:GetCollectionData("' + collectionName + '")>'+ collectionName +'</a></li>')

  }
}
});


$("#collectionsList").append('<li name="ranks"><a href=javascript:GetCollectionData("ranks")>ranks</a></li>')
}


function GetCollectionData(collectionName, page)
{
  selectCollection = collectionName
  if (page == null)
    page = 1;


if (page == null)
  page = 1;


$("#page_scroll").empty();

for (i = 0; i < 5; i++) {
  if (page == (Math.ceil(page / 5) + i)) {
    $("#page_scroll").append('<li class="paginate_button active"><a onclick="javascript:GetCollectionData(selectCollection, ' + (Math.ceil(page / 5) + i) + ')">' + (Math.ceil(page / 5) + i) +'</a></li>')
  }else{
    $("#page_scroll").append('<li><a onclick="javascript:GetCollectionData(selectCollection, ' + (Math.ceil(page / 5) + i) + ')">' + (Math.ceil(page / 5) + i) +'</a></li>')
  }
}

$("#page_scroll").append('<li><a onclick="javascript:GetCollectionData(selectCollection, ' + (Math.ceil(page / 5) + 5) + '">Next</a></li>')

  $("#collectionsList li").each(function(i,j) {
    $(j).removeClass("active");
    if ($(j).attr("name") == collectionName)
      $(j).addClass("active");

  })

$("#btn_collection_edit").removeClass("hide");
$("#btn_object_modal_show").removeClass("hide");

  if (selectCollection == "ranks") {
    $("#btn_collection_edit").addClass("hide");
    //$("#btn_object_modal_show").addClass("hide");
  }


  $("#column_row").empty();
  $("#result_rows").empty();


  var scheme = {};
  $("#collectionTitle").text("'" + collectionName + "' Collection")

  scheme = getCollectionScheme(selectCollection);
  for (j in scheme)
  {
    $("#column_row").append('<th style="width: 105px;">' + scheme[j] + '</th>')
  }

if (collectionName != "ranks")
  $("#column_row").append('<th style="width: 40px;"></th>');

  $.ajax({
    type:"GET",
    url:"dataconsole/collections/" + collectionName + "?offset=" + ((page-1) * 20),
    dataType:"JSON",
    async : false,
    success : function(data) {

  if (collectionName == "ranks")
{
for (i in data["results"])   {
var json = data["results"][i];
var text = '<tr class="odd">'
for (j in scheme) {
  text += "<td>" + json[scheme[j]]  + "</td>";
}
$("#result_rows").append(text + "</tr>")
}}
  else
      for (i in data["results"])
      {
        var json = data["results"][i];
        var text = '<tr class="odd">'
        for (j in scheme)
        {
          text += '<td onclick="javascript:editObjectData(\'' + collectionName + '\', \'' + json["id"] + '\')" >' + htmlEntityEnc(json[scheme[j]]) + '</td>'
        }
        text +='<td><a href="javascript:removeObjectData(\'' +json["id"] + '\')" class="btn btn-danger btn-xs"><i class="fa fa-pencil"></i></a></td>'
        $("#result_rows").append(text + '</tr>')
      }
      if (data["results"].length == 0)
        {
          $("#result_rows").append('<tr><td class="text-center" colspan="'+(scheme.length+1)+'">아직 데이터가 없습니다.</td></tr>')
        }
    }
  })
}

$("#btn_object_modal_show").click(function() {
  if (selectCollection == "")
       return;

  var scheme = getCollectionScheme(selectCollection);
  $("#form_add_object").empty();
  $("#form_add_object").attr("name", "");

  for (i in scheme)
  {
    $("#form_add_object").append('<label class="top-sm-10">'+scheme[i]+'</label>');
    $("#form_add_object").append('<input type="text" class="form-control input-sm" name='+scheme[i]+' placeholder="'+scheme[i]+'">');
  }

  $("#object_add_submit").removeClass("hide");
  $("#object_edit_submit").addClass("hide");
  $('#addObject').modal('show');
});


$("#addProperty").click(function() {
$("#propertise").append('<div class="input-group input-group-sm"><input type="text" class="form-control" placeholder="Name"><span class="input-group-btn"><button class="btn btn-danger" type="button"><i class="fa fa-eraser"></i></button></span></div>');
  $("#propertise button").click(function()
  {
    $(this).parent().parent().remove()
  });
});



$("#collection_add_submit").click(function(){
  var schemesName = '';

  $("#propertise input").each(function(i,j) {
    if ($(this).val() == "id")
    {
        $("#propertise").addClass("has-error");
        $("#propertise").append('<a class="help-block">id는 이미 예약되어있는 property입니다.</a>')
        schemesName = '';
        return false;
    }

    if (i != 0)
      schemesName += ', ';

    if ($(this).val() != "") {
      schemesName +=  '{ name : "' + $(this).val() + '" }';}
  });

  if (schemesName != '')
  if (ajaxNonAsync("POST", "dataconsole/collections/new?collectionName=" + $("#txt_collection_name").val(), 'insert_data={ schemes : [ ' + schemesName + ' ] }') > 0){
    {GetCollectionData($("#txt_collection_name").val());

  GetCollectionList();
$('#addCollection').modal('hide');
}
  }
});

$("#collection_edit_submit").click(function() {
  var schemesName = '';

  $("#propertise input").each(function(i,j) {
    if (i != 0)
      schemesName += ', ';

    if ($(this).val() != "") {
      schemesName +=  '{ name : "' + $(this).val() + '" }'}
  });
  ajaxNonAsync("PATCH", "dataconsole/collections/" + selectCollection, 'update_data={ schemes : [ ' + schemesName + ' ] }')
  GetCollectionData(selectCollection);
});

$("#object_add_submit").click(function() {
  if (selectCollection == "")
       return;

  var form_data = "{";

  $("#form_add_object input").each(function(i,j) {
    if (i != 0)
      form_data += ","

    form_data += '"' + $(this).attr('name') + '" : "' + $(this).val() + '"';
  })
  form_data += "}";

  $.ajax({
    type:"POST",
    url:"dataconsole/collections/" + selectCollection,
    data:'insert_data='+form_data,
    async:false,
    success : function(data) {
    }
  })
  GetCollectionData(selectCollection);
})


$("#object_edit_submit").click(function() {
  if (selectCollection == "")
       return;
  var form_data = "{";

  $("#form_add_object input").each(function(i,j) {
    if (i != 0)
      form_data += ","

    form_data += '"' + $(this).attr('name') + '" : "' + $(this).val() + '"';
  })
  form_data += "}";



   $.ajax( {type : "PATCH", url : "dataconsole/collections/" + selectCollection + "/" + $("#form_add_object").attr("name"),
   data : 'update_data=' + form_data, async : false});

   GetCollectionData(selectCollection);


 });


function getObjectData(collectionName, obj_id)
{
  var result = {};
  $.ajax({
    type:"GET",
    url:"dataconsole/collections/" + collectionName + "/" + obj_id,
    dataType:"JSON",
    async : false,
    success : function(data) {
            result = data
    }
  });
  return result["result"];
}

function getCollectionScheme(collectionName)
{
  var result = [];
  $.ajax({
    type:"GET",
    url:"dataconsole/collections/" + collectionName + "?scheme=true",
    dataType:"JSON",
    async : false,
    success : function(data) {
      var scheme = data["schemes"]
      for (j in scheme)
      {
        result.push(scheme[j]["name"]);
      }
    }
  });
  return result;
}

function removeObjectData(objectId)
{
  ajaxNonAsync("DELETE", "dataconsole/collections/" + selectCollection + "/" + objectId);
  GetCollectionData(selectCollection);
}

function editObjectData(collectionName, objectId)
{
  $("#object_modal_name").text("Edit Object");
  $("#form_add_object").empty();
  $("#form_add_object").attr("name", objectId);

  var result = getObjectData(collectionName, objectId);
  for (var key in result)
  {
    $("#form_add_object").append('<label class="top-sm-10">' + key + '</label>');
    $("#form_add_object").append('<input type="text" class="form-control input-sm" name=' + key + ' value="' + result[key] + '">');
  }

  $("#object_add_submit").addClass("hide");
  $("#object_edit_submit").removeClass("hide");
  $('#addObject').modal('show');
}

function ajaxNonAsync(type, url)
{
  $.ajax({type : type, url : url, async : false});
  return 1;
}
function ajaxNonAsync(type, url, data)
{
  $.ajax({type : type, url : url, data : data, dataType:"JSON", async : false});
  return 1;
}


GetCollectionList();
GetCollectionData("users");
</script>

    </body>
    </html>
