<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>RankaaS - 인디게임 개발자분을 위한 게임 백엔드 서비스</title>
<meta property="og:title" content="RankaaS - 인디게임 개발자분을 위한 게임 백엔드 서비스">
<meta property="og:url" content="https://rankaas.io">
<meta property="og:image" content="https://rankaas.io/logo_fb.png">

	<!-- BOOTSTRAP STYLES-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
    <link href="/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="/assets/css/custom.css" rel="stylesheet" />

     <!-- GOOGLE FONTS -->
         <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />

   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
   <script src="/assets/js/jquery-1.10.2.js"></script>

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/logo"/></a>
            </div>
            <% if @user %>
  <div style="color: white; padding: 20px 50px 5px 50px; float: right; font-size: 16px;"><a href="/logout" class="btn btn-danger square-btn-adjust">Logout</a> </div>
        <% end %>
        </nav>
<% if @view_nav %>
    <!-- /. NAV TOP  -->
         <nav class="navbar-default navbar-side" role="navigation">
     <div class="sidebar-collapse">
         <ul class="nav" id="main-menu">
              <li>
                 <a class="active-menu" href="/@<%= @user.username%>/apps"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
             </li>

         <% if @apps %>
           <% @apps.each do |app| %>
              <li>
               <a href="#"><i class=" fa fa-sitemap fa-3x"></i><%= app.name %><span class="fa arrow"></span></a>
               <ul class="nav nav-second-level">
                   <li>
                       <a class="" href="/@<%= @user.username%>/apps/<%= app.name %>">Info</a>
                   </li>
                   <li>
                       <a class="" href="/@<%= @user.username%>/apps/<%= app.name %>/dataconsole">Data Console</a>
                   </li>
               </ul>
             </li>
          <% end %>
        <% end %>


          </ul>

     </div>

 </nav>
<% end %>



<%= yield %>



<script  type="text/javascript">
$("#main-menu a").each(function(i,j) {
  $(j).removeClass("active-menu")
  $(j).removeClass("active")

});
 $("#main-menu a").each(function(i,j) {
     if (j.href == "<%= request.original_url %>")
     {
       $(j).addClass("active-menu").parents("li").addClass("active")
     }
 });
</script>




<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<!-- BOOTSTRAP SCRIPTS -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="/assets/js/jquery.metisMenu.js"></script>
<!-- MORRIS CHART SCRIPTS -->
<script src="/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="/assets/js/morris/morris.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="/assets/js/custom.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56286842-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
